@charset "utf-8";

body:before{ content:"caihuiting,linsi,20171016"; display: none; }
.txt_hide{ height:1px; line-height:40; overflow:hidden;}
.wrap{ background:url(../img/bg.jpg) no-repeat top center; min-width:1000px; overflow:hidden; }
.main{ background: url(../img/bg_main.jpg) no-repeat; width:1000px; margin:0 auto; font-family:"\5FAE\8F6F\96C5\9ED1"; position: relative;}
.banner{ padding-top: 88px; height: 270px; position:relative; overflow: hidden;}
.main a:hover{  text-decoration:none;}
.ban_tit,.ct_hd_tit:before,.ct_hd_tit:after,.asteps_list li,.asteps_it_left,.c1_main_left:after{ background: url(../img/spr.png) no-repeat; }



.ban_tit{ background-position: 0 0; width: 740px; height: 144px; display: block; margin:0 auto 28px; }
.ban_tips{ font-size: 38px; text-align: center;	color:#fff; line-height: 38px; }
.ban_tips:before,.ban_tips:after{ content: ''; display: inline-block; vertical-align: middle; width: 172px; height: 4px; background: #fd6c0b; border-radius: 2px; }
.ban_tips:before{ margin-right: 29px; }
.ban_tips:after{ margin-left: 29px; }

.ct_hd_tit{ color:#fbff24; font-size: 27px; line-height: 27px; text-align: center;	 }
.ct_hd_tit span{ margin-left: 12px; }
.ct_hd_tit:before,.ct_hd_tit:after{ content: ''; width: 36px; height: 18px; display: inline-block; }
.ct_hd_tit:before{ margin-right: 16px; background-position: -750px 0; }
.ct_hd_tit:after{ background-position: -788px 0; margin-left: 16px; }

.cont{ height: 870px; width: 990px; margin:0 auto;}
.cont1{ padding-top: 49px; height: 387px; }
.cont2{ padding-top: 50px; }

.c1_main{ padding: 29px 107px 0; }
.c1_main_left,.c1_main_right{ float: left; }
.c1_main_left:after{ content: ''; background-position: -750px -23px; width: 104px; height: 66px; position: absolute; top: 107px; left: 336px; }
.c1_main_left{ width: 280px; margin-right: 216px; position: relative; }
.asteps_it_left{ width: 66px; height: 88px; background-position: 0 -260px; float: left; margin: 0 34px 0 35px;}
.asteps_it_left2{ background-position: -66px -260px; }
.asteps_it_left3{ background-position: -132px -260px; }
.asteps_it_right{ color:#c58000; font-size: 22px; line-height: 30px; padding-top: 13px; }
.asteps_tit,.asteps_tips{ font-weight: bold; }
.fc_red{ color:#ff2b1c; }
.c1_main_right{ width: 280px; height: 280px; }
.c1_main_right img{ width: 100%; height: 100%; }

.asteps_list li{ background-position: 0 -160px; width: 280px; height: 86px; margin-bottom: 11px; }

.rule_list{ margin: 19px 0 0 45px; width: 910px; color:#f8ffb2; font-size: 16px; line-height: 36px; }
.rule_list li{ list-style-type: decimal; margin-left: 20px; }
.link_rule{ color:#fbff24;  }
a.link_rule:hover{ text-decoration: underline; }


/*css3*/
.ban_tit{-webkit-animation:fadeindown .8s ease-in-out both;animation:fadeindown .8s ease-in-out both;}
.ban_tips{-webkit-animation:fadeindown .8s .5s ease-in-out both;animation:fadeindown .8s .5s ease-in-out both;}



@-webkit-keyframes fadeindown{
	from{-webkit-transform:translateY(-100px);transform:translateY(-100px);opacity:0;}
	to{-webkit-transform:none;transform:none;opacity:1;}
}
@keyframes fadeindown{
	from{-webkit-transform:translateY(-100px);transform:translateY(-100px);opacity:0;}
	to{-webkit-transform:none;transform:none;opacity:1;}
}
