@charset "utf-8";
html{ 
  font-size: 15.625vw;
}
body{ -webkit-text-size-adjust: 100% !important; }
body:before{ content:"author:caihuiting,design:zhangjiaxin,time:20171023"; display: none; }
body,button,input,select,textarea{font:.14rem/1.5 PingFangTC-Regular,PingFangHK-Regular;outline:none;-webkit-font-smoothing:antialiased；}
ul,ol{list-style:none;}em,i{font-style:normal;}
body{margin:0;word-wrap:break-word;overflow-x:hidden;}
ol,ul,input{margin:0; padding:0;}
dl,dd,h1,h2,h3,h4,h5,h6,p,form{margin:0;}
img{display:block;border: 0;vertical-align:middle;}
table{ width:auto;border-collapse: collapse;border-spacing: 0;}
a{text-decoration:none;outline:none;color:#f7dfaa;}
a,button,button:active,input{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.txt_hide{ height:1px; line-height:30; overflow:hidden;}
.reb_box,.btn_open,.btn_clo{ background: url(../img/spr.png) no-repeat; }

.pendant{ width: 1.4rem; height: 1.4rem; position: fixed; right: 0rem; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);  }
.btn_rb{ position: absolute; left:0 ; top: 0; bottom: 0; right: 0; }
.pd_reb_bag{ background: url(../img/spr_redbag_ani.png) no-repeat; width: 1.4rem; height: 1.4rem; background-size: 32.2rem auto; }

.cover{ display: none; background: #000; opacity: .5; position: fixed; z-index: 100; left: 0; right: 0; top: 0; bottom: 0; }
.reb_box{ background-position: 0 -1.9rem; width: 4.92rem; height: 6.19rem; margin:-3.1rem -2.46rem 0 0; position: fixed;  right: 50%; top: 50%; background-size: 6.4rem auto;   z-index: 101; }
.rb_box_top{ height: 3.55rem; }
.btn_clo{ width: .2rem; height: .2rem; background-size: 6.4rem auto; position: absolute; right: .2rem; top: .2rem; z-index: 2; }
.btn_open{ background-position: -.3rem 0; margin: 0 auto; display: block; width: 1.76rem; height: 1.76rem; background-size: 6.4rem auto; }
.btn_open:active{ background-position: -2.2rem 0; }
.logo_box{ width: .68rem; height: .68rem; border-radius: 50%; overflow: hidden; border: .02rem solid #ffe2b1; }
.logo_box img{ width: 100%; height: 100%; }
.rb_box_top{ position: relative; z-index: 1; color:#ffe2b1; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.logo_name{ font-size: .28rem; line-height: .58rem; }
.logo_tip{ font-size: .22rem; line-height: .22rem; }
.rb_box_tit{ font-size: .4rem; padding-top: .5rem; line-height: .4rem; }

/* css3 */
.pd_reb_bag.ani{ -webkit-animation: ani 1.8s steps(23) infinite;  animation: ani 1.8s steps(23) infinite; }
@-webkit-keyframes ani{
   0%{ background-position: 0 0; }
   100%{ background-position: -32.2rem 0rem; }
}
@keyframes ani{
   0%{ background-position: 0 0; }
   100%{ background-position: -32.2rem 0rem; }
}

.reb_box.appear{ -webkit-animation: bounceIn 1s  both;  animation: bounceIn 1s both;  }
@-webkit-keyframes bounceIn {
    from, 0%, 40%, 60%, 73.3%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0) translate(50%,-50%);

  }

  40% {
    -webkit-transform: scale3d(1.08, 1.08, 1.08);
    transform: scale3d(1.08, 1.08, 1.08)  translate(50%,-50%);
    right:50%;
  }

  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03)  translate(50%,-50%);
    right:50%;
  }

  73.3% {
    opacity: 1;
    -webkit-transform: scale3d(1.04, 1.04, 1.04);
    transform: scale3d(1.04, 1.04, 1.04) translate(50%,-50%);
    right:50%;
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1)  translate(50%,-50%);
    right:50%;
  }
}

@keyframes bounceIn {
  from, 0%, 40%, 60%, 73.3%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale3d(0, 0, 0);
    transform: scale3d(0, 0, 0);
  }

  40% {
    -webkit-transform: scale3d(1.08, 1.08, 1.08);
    transform: scale3d(1.08, 1.08, 1.08) ;
  }

  60% {
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03) ;
  }

  73.3% {
    opacity: 1;
    -webkit-transform: scale3d(1.04, 1.04, 1.04);
    transform: scale3d(1.04, 1.04, 1.04);
  }

  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1) ;
  }
}


.reb_box.disappear{ -webkit-animation: disappear .6s  both;  animation: disappear .6s both; }
@-webkit-keyframes disappear{
   0% {
	    opacity: 1;
	    -webkit-transform: scale3d(1, 1, 1);
	    transform: scale3d(1, 1, 1) ;
	}
   to{  
   		opacity: 0;
    	-webkit-transform: scale3d(0, 0, 0);
    	right: .4rem; 
    }
}
@keyframes disappear{
   0% {
	    opacity: 1;
	    -webkit-transform: scale3d(1, 1, 1);
	    transform: scale3d(1, 1, 1) ;
	    right:50%;
	}
   to{  
   		opacity: 0;
    	transform: scale3d(0, 0, 0) ;
    	right: .4rem; 
    }
}
