@charset "utf-8";
html{ 
  font-size: 9.2593vw;
}
html,body{ height: 100%; }
body{ -webkit-text-size-adjust: none !important; }
body:before{ content:"author:caihuiting,design:zhangjiaxin,time:20171023"; display: none; }
body,button,input,select,textarea{font:.14rem/1.5 PingFangTC-Regular,PingFangHK-Regular;outline:none;-webkit-font-smoothing:antialiased；}
ul,ol{list-style:none;}em,i{font-style:normal;}
body{margin:0;word-wrap:break-word;overflow-x:hidden;}
ol,ul,input{margin:0; padding:0;}
dl,dd,h1,h2,h3,h4,h5,h6,p,form{margin:0;}
img{display:block;border: 0;vertical-align:middle;}
table{ width:auto;border-collapse: collapse;border-spacing: 0;}
a{text-decoration:none;outline:none;color:#f7dfaa;}
a,button,button:active,input{-webkit-tap-highlight-color:rgba(0,0,0,0);}
.txt_hide{ height:1px; line-height:150; overflow:hidden;}
.reb_box,.btn_open,.btn_clo{ background: url(../img/spr_pop.png) no-repeat; }
img{ width: 100%; height: 100%; }
.wrap{ width: 10.8rem; overflow: hidden; }

/*pop_rb*/
.pendant{ width: 2.4rem; height: 2.4rem; position: fixed; right: 0rem; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%);  }
.btn_rb{ position: absolute; left:0 ; top: 0; bottom: 0; right: 0; }
.pd_reb_bag{ background: url(../img/spr_redbag_ani.png) no-repeat; width: 2.4rem; height: 2.4rem; background-size: 52.8rem auto; }

.cover{ display: none; background: #000; opacity: .5; position: fixed; z-index: 100; left: 0; right: 0; top: 0; bottom: 0; }
.reb_box{ background-position: 0 -3.1rem; width: 8.36rem; height: 10.43rem; margin:-5.22rem -4.18rem 0 0; position: fixed;  right: 50%; top: 50%; background-size: 10.8rem auto;   z-index: 101; }
.rb_box_top{ height: 5.98rem; }
.btn_clo{ width: .34rem; height: .34rem; background-size: 10.8rem auto; position: absolute; right: .33rem; top: .33rem; z-index: 2; }
.btn_open{ background-position: -.4rem 0; position: absolute; left: 50%; top: 5.98rem; transform:translateX(-50%); display: block; width: 2.98rem; height: 2.98rem; background-size: 10.8rem auto; }
.btn_open:active{ background-position: -3.5rem 0; }
.logo_box{ width: 1.16rem; height: 1.16rem; border-radius: 50%; overflow: hidden; border: .02rem solid #ffe2b1; }
.logo_box img{ width: 100%; height: 100%; }
.rb_box_top{ position: relative; z-index: 1; color:#ffe2b1; display: flex; flex-direction: column; justify-content: center; align-items: center; }
.logo_name{ font-size: .47rem; }
.logo_tip{ font-size: .36rem; }
.rb_box_tit{ font-size: .66rem; padding-top: .9rem; }




/* css3 */
.pd_reb_bag.ani{ -webkit-animation: ani 1.8s steps(22) infinite;  animation: ani 1.8s steps(22) infinite; }
@-webkit-keyframes ani{
   0%{ background-position: 0 0; }
   100%{ background-position: -52.8rem 0rem; }
}
@keyframes ani{
   0%{ background-position: 0 0; }
   100%{ background-position: -52.8rem 0rem; }
}
.act_ind_tit{ -webkit-animation: bounceIn .8s  both;  animation: bounceIn .8s both;  }
.btn_iwel{ -webkit-animation: bounceIn 1s .8s  both;  animation: bounceIn 1s .8s both;  }

@-webkit-keyframes opacity{
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}
@keyframes opacity{
  0%{ opacity: 0; }
  100%{ opacity: 1; }
}


@-webkit-keyframes fadeDown{
  0%{-webkit-transform:translate3d(0,-30rem,0);-webkit-transform:translate3d(0,-30rem,0);}
  100%{-webkit-transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);}
}
@keyframes fadeDown{
  0%{transform:translate3d(0,-30rem,0);transform:translate3d(0,-30rem,0);}
  100%{transform:translate3d(0,0,0);transform:translate3d(0,0,0);}
}


.reb_box.appear{ -webkit-animation: bounceIn 1s  both;  animation: bounceIn 1s both;  }
@-webkit-keyframes bounceIn {
    from, 0%, 40%, 60%, 73.3%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.08);
    transform: scale(1.08) ;
  }

  60% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03) ;
  }

  73.3% {
    opacity: 1;
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1) ;
  }
}

@keyframes bounceIn {
   from, 0%, 40%, 60%, 73.3%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.08);
    transform: scale(1.08) ;
  }

  60% {
    -webkit-transform: scale(1.03);
    transform: scale(1.03) ;
  }

  73.3% {
    opacity: 1;
    -webkit-transform: scale(1.04);
    transform: scale(1.04);
  }

  to {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1) ;
  }
}


.reb_box.disappear{ -webkit-animation: disappear .6s  both;  animation: disappear .6s both; }
@-webkit-keyframes disappear{
   0% {
	    opacity: 1;
	    -webkit-transform: scale(1);
	    transform: scale(1) ;
	}
   to{  
   		opacity: 0;
    	-webkit-transform: scale(0);
    	right: .4rem; 
    }
}
@keyframes disappear{
   0% {
	    opacity: 1;
	    -webkit-transform: scale(1);
	    transform: scale(1) ;
	}
   to{  
   		opacity: 0;
    	transform: scale(0) ;
    	right: .4rem; 
    }
}
