html {
    font-size: 15.625vw
}

.author:before {
    content: "author:caihuiting; desgin:jixueting; 2018-1-20";
    display: none
}

.hide-txt {
    text-indent: -9999em;
    font-size: 0;
    line-height: 0
}

.clearfix {
    height: auto!important
}

em {
    font-style: normal
}

.wp a {
    text-decoration: none
}

.wp {
    width: 100%;
    color: #fff;
    z-index: 2
}

.wp,
.wp .wp-main {
    position: relative
}

.wp .wp-main {
    width: 6.4rem;
    margin: 0 auto
}

html body {
    line-height: 1
}

.color-in-yel {
    color: #fed866
}

.layout-body {
    position: relative;
    background: url(../img/bg-hb.jpg) #ad0416;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden
}

.wp-hb {
    padding-top: 1.88rem;
    height: 29rem;
}

.wp-hb .wp-main {
    height: 29rem;
    overflow: hidden
}

.wp-hb .wp-main:after,
.wp-hb .wp-main:before {
    content: "";
    position: absolute;
    left: 50%;
    background-image: url(../img/spr-bg-hb.png);
    background-position: 0 0;
    background-size: 6.2rem auto;
    width: 6.2rem;
    height: .31rem;
    margin-left: -3.1rem;
    z-index: 1
}

.wp-hb .wp-main:before {
    top: 0
}

.wp-hb .wp-main:after {
    bottom: 0
}

.wp-hb .main-cont {
    width: 5.82rem;
    height: 29rem;
    background: #f4cd70;
    background: hsla(42, 86%, 70%, .95);
    position: relative;
    text-align: center;
    margin: 0 auto
}

.wp-hb .main-cont .cont-hd h3 {
    font-size: .3rem;
    font-weight: 700;
    color: #9d5c24;
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.wp-hb .main-cont .cont-hd h3 span {
    display: inline-block;
    width: 2.86rem
}

.wp-hb .main-cont .cont-hd h3:after,
.wp-hb .main-cont .cont-hd h3:before {
    content: "";
    display: inline-block;
    width: 1.08rem;
    height: .14rem
}

.wp-hb .main-cont .cont-hd h3:before {
    background-image: url(../img/spr-bg-hb.png);
    background-position: -3.55rem -.36rem;
    background-size: 6.2rem auto
}

.wp-hb .main-cont .cont-hd h3:after {
    background-image: url(../img/spr-bg-hb.png);
    background-position: -2.4rem -.36rem;
    background-size: 6.2rem auto
}

.wp-hb .main-cont .cont-hd p {
    font-size: .24rem;
    color: #dd6d0d;
    margin-top: .13rem
}

.cont-balance {
    padding: .62rem 0 .52rem
}

.cont-balance fieldset {
    width: 5.24rem;
    border-radius: .05rem;
    border: 1px solid #c19050;
    margin: 0 auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.cont-balance fieldset legend {
    width: 2rem;
    margin: 0 auto;
    text-align: center;
    font-size: .3rem;
    font-weight: 700;
    color: #9d5c24
}

.cont-balance .balance-bd {
    padding: .35rem 0 .29rem
}

.cont-balance .balance-num p {
    font-size: .3rem;
    font-weight: 700;
    color: #e62035;
    text-align: center;
    margin-bottom: .26rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.cont-balance .balance-num em {
    font-size: .48rem;
    margin-right: .05rem
}

.cont-balance .balance-info {
    font-size: 0;
    line-height: .4rem;
    position: relative
}

.cont-balance .balance-info,
.cont-balance .balance-info .balance-info-left,
.cont-balance .balance-info .balance-info-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.cont-balance .balance-info .balance-info-left,
.cont-balance .balance-info .balance-info-right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.cont-balance .balance-info .balance-info-left {
    width: 2.74rem
}

.cont-balance .balance-info .balance-info-right {
    width: 2.37rem
}

.cont-balance .balance-info:after {
    content: "";
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 1px;
    height: .6rem;
    position: absolute;
    left: 2.75rem;
    background: #c19050
}

.cont-balance .balance-info .info-item p {
    font-size: .21rem;
    color: #9d5c24
}

.wp-hb-1 {
    width: 5.44rem;
    overflow: hidden;
    height: 6.18rem;
    margin: .2rem 0 0 .29rem;
    position: relative
}

.hb-box-1 {
    width: 19.2rem;
    position: absolute;
    left: 0;
    top: 0
}

.hb-list-tab {
    width: 5.44rem;
    height: 6.18rem;
    position: relative;
    float: left;
}

.main-hb-tab {
    width: 5.24rem;
    height: 6.18rem;
    border-radius: .1rem;
    position: relative;
    z-index: 2
}

.hb-list-tab1 .main-hb-tab {
    background: #fad67f
}

.hb-list-tab1:after {
    width: 5.14rem;
    height: 6.08rem;
    background: #e8b95e;
    left: .22rem;
    top: .05rem
}

.hb-list-tab1:after,
.hb-list-tab1:before {
    content: "";
    position: absolute;
    border-radius: .1rem
}

.hb-list-tab1:before {
    width: 5.03rem;
    height: 5.97rem;
    background: #daa45f;
    left: .41rem;
    top: .11rem
}

.hb-list-tab2 .main-hb-tab {
    background: #fad67f;
}

.hb-list-tab2:before {
    content: "";
    width: 5.14rem;
    height: 6.08rem;
    background: #e8b95e;
    position: absolute;
    left: .22rem;
    top: .05rem;
    border-radius: .1rem
}

.hb-list-tab3 .main-hb-tab {
    background: #fad67f;
}

.hb-list-tab .tit {
    height: .86rem;
    color: #9d5c24;
    font-size: .28rem;
    line-height: .86rem
}

.info-item.info-sum,
.info-item.info-wd {
    padding-left: .38rem;
    text-align: left;
    width: 100%
}

.cont-balance .balance-info .info-item p a,
.cont-balance .balance-info .info-item p em {
    color: #e62035
}

.cont-balance .hb-list ul {
    font-size: 0;
    text-align: center;
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: wrap row;
    -ms-flex-flow: wrap row;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    padding-top: .41rem
}

.cont-balance .hb-list ul,
.cont-balance .hb-list ul li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

.cont-balance .hb-list ul li {
    width: 1.52rem;
    height: 1.93rem;
    background-image: url(../img/spr-hb.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 7.46rem auto;
    margin: 0 .05rem .53rem;
    position: relative
}

.cont-balance .hb-list ul li.disabled{ background: none; }

.hb-wp .hb-hd {
    top: 0;
    height: 1.1rem;
    background-position: -1.57rem -3.78rem;
    background-size: 7.46rem auto;
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
    font-size: .19rem;
    color: #c61729;
    font-style: normal;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: .22rem
}

.hb-wp .hb-fd,
.hb-wp .hb-hd {
    position: absolute;
    left: 0;
    width: 1.52rem;
    background-image: url(../img/spr-hb.png);
    background-repeat: no-repeat
}

.hb-wp .hb-fd {
    bottom: 0;
    height: 1.52rem;
    background-position: -2.9rem -1.98rem;
    background-size: 7.46rem auto
}

.hb-wp .hb-hd-open {
    position: absolute;
    top: -.41rem;
    left: 0;
    background-image: url(../img/spr-hb.png);
    background-position: 0 -3.78rem;
    background-size: 7.46rem auto;
    width: 1.52rem;
    height: 1.33rem;
    background-repeat: no-repeat;
    -webkit-transform-origin: center 31%;
    -ms-transform-origin: center 31%;
    transform-origin: center 31%;
    opacity: 0;
    filter: alpha(opacity=0)
}

.hb-wp .hb-paper {
    margin-left: -.7rem;
    top: 1px;
    background-position: -4.71rem 0;
    background-size: 7.46rem auto;
    width: 1.4rem;
    height: 1.5rem;
    text-align: center;
    font-size: .21rem;
    font-weight: 700;
    color: #e62035;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: .32rem
}

.hb-wp .hb-paper,
.hb-wp .icon-sticker {
    position: absolute;
    left: 50%;
    background-image: url(../img/spr-hb.png);
    background-repeat: no-repeat
}

.hb-wp .icon-sticker {
    background-position: -6.83rem -4.35rem;
    background-size: 7.46rem auto
}

.hb-wp .icon-sticker,
.hb-wp .icon-sticker02 {
    margin-left: -.31rem;
    top: .72rem;
    width: .63rem;
    height: .63rem;
}

.hb-wp .icon-sticker02 {
    position: absolute;
    left: 50%;
    background-image: url(../img/spr-hb.png);
    background-position: -6.16rem -4.35rem;
    background-size: 7.46rem auto;
    background-repeat: no-repeat;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: not-allowed
}

.cont-balance .disabled .hb-wp {
    display: none
}

.cont-balance .disabled .hb-dis {
    display: block
}

.hb-dis {
    display: none;
    width: 1.52rem;
    height: 1.93rem;
    background-image: url(../img/spr-hb.png);
    background-position: -3.14rem 0;
    background-size: 7.46rem auto;
    background-repeat: no-repeat
}

.hb-dis p {
    font-size: .19rem;
    color: #ac7c3d;
    padding-top: .2rem
}

.hb-dis .btn {
    display: block;
    width: 1.28rem;
    height: .46rem;
    text-align: center;
    line-height: .46rem;
    margin: .94rem auto 0;
    font-size: .22rem;
    border-radius: .23rem;
    color: #fff;
    background: #ff3248;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff3248), to(#e62035));
    background: -webkit-linear-gradient(top, #ff3248, #e62035);
    background: -o-linear-gradient(top, #ff3248, #e62035);
    background: linear-gradient(180deg, #ff3248, #e62035)
}

.hb-dis .btn:active {
    background: #fb3f53;
    background: -webkit-gradient(linear, left top, left bottom, from(#fb3f53), to(#ea283d));
    background: -webkit-linear-gradient(top, #fb3f53, #ea283d);
    background: -o-linear-gradient(top, #fb3f53, #ea283d);
    background: linear-gradient(180deg, #fb3f53, #ea283d)
}

.sec .hb-dis {
    display: block;
    background-image: url(../img/spr-hb.png);
    background-position: -1.57rem 0;
    background-size: 7.46rem auto
}

.sec .hb-dis p {
    color: #cc172a;
}

.sec .hb-dis .btn {
    background: #febe29;
    background: -webkit-gradient(linear, left top, left bottom, from(#febe29), to(#fd7402));
    background: -webkit-linear-gradient(top, #febe29, #fd7402);
    background: -o-linear-gradient(top, #febe29, #fd7402);
    background: linear-gradient(180deg, #febe29, #fd7402)
}

.sec .hb-dis .btn:active {
    background: #ffcb3e;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcb3e), to(#fb830f));
    background: -webkit-linear-gradient(top, #ffcb3e, #fb830f);
    background: -o-linear-gradient(top, #ffcb3e, #fb830f);
    background: linear-gradient(180deg, #ffcb3e, #fb830f)
}

.cont-balance .active .hb-wp .hb-hd,
.cont-balance .active .hb-wp .icon-sticker {
    display: none
}

.cont-balance .active .hb-wp .hb-hd-open,
.cont-balance .active .hb-wp .icon-sticker02 {
    opacity: 1;
    filter: alpha(opacity=100)
}
.hb-wp{ width: 1.5rem; }
.cont-balance .hb-list-tab2 .hb-list .on .hb-hd-open{ background-position: -4.74rem -5.16rem; background-size: 7.46rem auto;  }
.hb-list-tab2 .hb-wp .hb-hd{ background-position: -3.14rem -5.16rem; background-size: 7.46rem auto;  }
.hb-list .icon{ width: .63rem; height: .63rem; background: url(../img/spr-hb.png) no-repeat; position: absolute; left: 50%; margin-left: -.3rem; top: .61rem; }
.cont-balance .hb-list-tab2 ul li.disabled .hb-dis .btn, .cont-balance .hb-list-tab3 ul li.disabled .hb-dis .btn{ display: none; }
.hb-dis p.tip{ font-size: .21rem; color: #9b6b2c; margin: .9rem auto 0; }
.hb-list-tab.cur .hb-dis p.tip{ display: none; }
.hb-list .icon.icon-uxiang{ background-position: 0 -6.4rem; background-size: 7.46rem auto; }
.hb-list .icon.icon-xlhy{ background-position: -.67rem -6.4rem; background-size: 7.46rem auto; }
.hb-list .icon.icon-xl9{ background-position: 0 -7.19rem; background-size: 7.46rem auto; }
.hb-list .icon.icon-biaoju{ background-position: -.67rem -7.18rem; background-size: 7.46rem auto; }
.hb-list .icon.icon-pxl{ background-position: 0 -7.9rem; background-size: 7.46rem auto; }
.hb-list-tab2 .hb-wp .btn{ position: relative; margin: 1.32rem auto 0; display: block; width: 1.28rem; height: .46rem; text-align: center; line-height: .46rem; border-radius: .23rem; font-size: .22rem; color: #fff; background: #febe29; background: -webkit-gradient(linear, left top, left bottom, from(#febe29), to(#fd7402)); background: -webkit-linear-gradient(top, #febe29, #fd7402); background: -o-linear-gradient(top, #febe29, #fd7402);  background: linear-gradient(180deg, #febe29, #fd7402); }
.cont-balance .hb-list .on .btn{ cursor: default; -webkit-animation: i .3s both; animation: i .3s both; }
.cont-balance .hb-list-tab2.cur ul li.disabled .hb-dis .btn, .cont-balance .hb-list-tab3.cur ul li.disabled .hb-dis .btn{ display: block; }
.hb-list-tab2 .hb-dis{ background-position: -1.57rem -5.16rem; background-size: 7.46rem auto; }
.hb-list-tab2 .sec .hb-dis{ background-position: -1.57rem -7.19rem; background-size: 7.46rem auto; }
.hb-list-tab3 .hb-dis{ background-position: -3.14rem -7.19rem; background-size: 7.46rem auto; }
.hb-list-tab3 .hb-wp .hb-hd-open{ background-position: -4.74rem -8.31rem; background-size: 7.46rem auto;}
.hb-list-tab .hb-wp .hb-hd{ background-position: -4.74rem -7.19rem;background-size: 7.46rem auto; }
.hb-list-tab3 .hb-list ul{ width: 3.44rem; }
.hb-list-tab3 .hb-list ul li{ margin: 0 .1rem .53rem; }
.moneyfly{ width: .73rem; height: .73rem; border-radius: 50%; background: #ffd850; line-height: .73rem; text-align: center; color: #3e3e3e; font-size: .22rem; font-weight: bold; position: absolute; z-index: 10;  }

.cont-more {
    padding-bottom: .38rem
}

.cont-more .cont-bd ul {
    text-align: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: wrap row;
    -ms-flex-flow: wrap row;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 0;
    margin-top: .24rem
}

.cont-more .cont-bd ul li {
    display: inline-block;
    width: 2.55rem;
    height: 3.92rem;
    border-radius: .1rem;
    background: hsla(42, 92%, 74%, .6);
    margin: 0 .07rem .13rem
}

.cont-more .more-item .item-hd h4 {
    font-size: .26rem;
    font-weight: 700;
    color: #e62035;
    padding: .26rem 0 .06rem
}

.cont-more .more-item .item-hd p {
    font-size: .21rem;
    color: #3e3e3e
}

.cont-more .more-item .item-act .btn {
    display: block;
    width: 2.2rem;
    height: .65rem;
    background: #febe29;
    background: -webkit-gradient(linear, left top, left bottom, from(#febe29), to(#fd7402));
    background: -webkit-linear-gradient(top, #febe29, #fd7402);
    background: -o-linear-gradient(top, #febe29, #fd7402);
    background: linear-gradient(180deg, #febe29, #fd7402);
    font-size: .3rem;
    color: #fff;
    text-align: center;
    border-radius: .325rem;
    line-height: .65rem;
    margin: 0 auto
}

.cont-more .more-item .item-act .btn:active{
    text-decoration: none;
    background: #ffcb3e;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcb3e), to(#fb830f));
    background: -webkit-linear-gradient(top, #ffcb3e, #fb830f);
    background: -o-linear-gradient(top, #ffcb3e, #fb830f);
    background: linear-gradient(180deg, #ffcb3e, #fb830f)
}

.cont-more .more-item.active .item-act .btn,.cont-more .more-item.disabled .item-act .btn {
    cursor: not-allowed;
    color: #fad67f;
    background: #c19050;
    background-repeat: no-repeat
}

.cont-more .more-item .item-bd {
    padding-top: .25rem;
    margin-bottom: .2rem;
    overflow: hidden
}

.cont-more .more-item .item-bd .hb-wp {
    width: 1.4rem;
    height: 1.75rem;
    background-image: url(../img/spr-hb.png);
    background-position: 0 -1.98rem;
    background-size: 7.46rem auto;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative
}

.cont-more .more-item .item-bd .hb-bg {
    position: absolute;
    top: .29rem;
    left: .01rem;
    width: 1.39rem;
    height: .55rem;
    background: #c61729
}

.cont-more .more-item .item-bd .hb-wp .hb-hd {
    top: 0;
    height: .99rem;
    background-position: -3.14rem -3.78rem;
    background-size: 7.46rem auto;
    -webkit-transform-origin: center 29%;
    -ms-transform-origin: center 29%;
    transform-origin: center 29%
}

.cont-more .more-item .item-bd .hb-wp .hb-fd,
.cont-more .more-item .item-bd .hb-wp .hb-hd {
    position: absolute;
    left: 0;
    width: 1.4rem;
    background-image: url(../img/spr-hb.png);
    background-repeat: no-repeat
}

.cont-more .more-item .item-bd .hb-wp .hb-fd {
    bottom: 0;
    background-position: -4.71rem -1.55rem;
    background-size: 7.46rem auto;
    height: 1.41rem
}

.cont-more .more-item .item-bd .hb-wp .hb-hd-open {
    position: absolute;
    top: -.12rem;
    left: .01rem;
    background-image: url(../img/spr-hb.png);
    background-position: 0 -5.16rem;
    background-size: 7.46rem auto;
    width: 1.39rem;
    height: 1.19rem;
    -webkit-transform-origin: center 10%;
    -ms-transform-origin: center 10%;
    transform-origin: center 10%;
    opacity: 0;
    filter: alpha(opacity=0)
}
.wp-hb-1 .btn-pre,.wp-hb-1 .btn-next{ top: .32rem; position: absolute; z-index: 10; }
.wp-hb-1 .btn-pre{ 
    border-left: .03rem solid #915e38; border-top: .03rem solid #915e38;  
    width: .18rem; height: .18rem;
    transform: rotate(-45deg);
    left: .24rem;
}
.wp-hb-1 .btn-next{
    border-right: .03rem solid #915e38; border-bottom: .03rem solid #915e38;  
    width: .18rem; height: .18rem; 
    transform: rotate(-45deg);
    right: .45rem;
}
.wp-hb-1 .btn-pre.disabled,.wp-hb-1 .btn-next.disabled{ border-color: #daa45f; }

.cont-more .more-item .item-bd .hb-wp .hb-paper {
    position: absolute;
    left: 50%;
    margin-left: -.65rem;
    top: .2rem;
    background-image: url(../img/spr-hb.png);
    background-position: -6.16rem 0;
    background-size: 7.46rem auto;
    width: 1.3rem;
    height: 1.38rem;
    text-align: center;
    font-size: .2rem;
    font-weight: 700;
    color: #e62035;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: .17rem
}

.cont-more .more-item .item-bd .icon {
    position: absolute;
    left: 50%;
    margin-left: -.34rem;
    top: .6rem;
    width: .68rem;
    height: .68rem
}

.cont-more .more-item .item-bd .icon-uxiang {
    background-position: -6.16rem -2.89rem
}

.cont-more .more-item .item-bd .icon-biaoju,
.cont-more .more-item .item-bd .icon-uxiang {
    background-image: url(../img/spr-hb.png);
    background-size: 7.46rem auto;
    background-repeat: no-repeat
}

.cont-more .more-item .item-bd .icon-biaoju {
    background-position: -6.16rem -3.62rem
}

.cont-more .more-item .item-bd .icon-jinrong {
    background-position: -6.16rem -1.43rem
}

.cont-more .more-item .item-bd .icon-jinrong,
.cont-more .more-item .item-bd .icon-weixin {
    background-image: url(../img/spr-hb.png);
    background-size: 7.46rem auto;
    background-repeat: no-repeat
}

.cont-more .more-item .item-bd .icon-weixin {
    background-position: -6.16rem -2.16rem
}

.cont-more .more-item.disabled .hb-wp {
    display: none
}

.cont-more .more-item.disabled .hb-dis {
    display: block;
    width: 1.4rem;
    height: 1.75rem;
    background-image: url(../img/spr-hb.png);
    background-position: -1.45rem -1.98rem;
    background-size: 7.46rem auto;
    background-repeat: no-repeat;
    margin: 0 auto;
    position: relative
}

.cont-more .more-item.active .hb-wp .hb-hd {
    display: none
}

.cont-more .more-item.active .hb-wp .hb-hd-open {
    opacity: 1;
    filter: alpha(opacity=100)
}

.cont-double .cont-bd {
    font-size: 0;
    text-align: center;
    margin-top: 0.27rem;
}

.cont-double .cont-bd .dble-item {
    display: inline-block;
    width: 460px;
    height: 266px;
    background: #fad67f;
    border-radius: 10px;
    margin: 0 5px
}

.dble-item .dble-pic {
    float: left;
    width: 140px;
    height: 200px;
    margin: 36px 0 0 41px
}

.dble-item .dble-pic .money {
    font-size: 20px;
    font-weight: 700;
    color: #e62035;
    padding-top: 66px
}

.dble-item .dble-pic .txt {
    font-size: 18px;
    color: #ffe691;
    padding-top: 66px
}

.dble-item .dble-info {
    float: left;
    text-align: left;
    width: 214px;
    white-space: nowrap;
    margin: 30px 0 0 33px
}

.dble-item .dble-info .info-hd h4 {
    font-size: 24px;
    font-weight: 700;
    color: #9d5c24;
    padding-bottom: 15px;
    border-bottom: 1px dashed #c19050;
    margin-bottom: 20px
}

.dble-item .dble-info .info-hd p {
    font-size: 16px;
    color: #dd6d0d
}

.dble-item .dble-info .info-hd p.tips02 {
    color: #e62035;
    margin-top: 8px
}

.dble-item .dble-info .info-bd .btn {
    display: block;
    width: 155px;
    height: 46px;
    text-align: center;
    line-height: 46px;
    background-image: url(../img/spr-hbbg.png);
    background-position: -495px -103px;
    background-repeat: no-repeat;
    font-size: 20px;
    color: #f82a47;
    margin: 30px 0 16px
}

.dble-item .dble-info .info-bd .btn:hover {
    color: #fff;
    text-decoration: none;
    background-image: url(../img/spr-hbbg.png);
    background-position: -330px -103px;
    background-repeat: no-repeat
}

.dble-item .dble-info .info-bd p {
    font-size: 14px;
    color: #9d5c24
}

.dble-item .dble-info .info-bd p em {
    color: #e62035
}

.dble-wd .dble-pic {
    background-position: -150px 0
}

.dble-db .dble-pic,
.dble-wd .dble-pic {
    background-image: url(../img/spr-hb.png);
    background-repeat: no-repeat
}

.dble-db .dble-pic {
    background-position: 0 0
}

.dble-wd .dble-pic .money em {
    font-size: 22px
}

.dble-db .dble-pic .money {
    color: #fff
}

.dble-db .dble-pic .money em {
    font-size: 24px;
    vertical-align: -1px
}

.wp-rule {
    padding-bottom: .48rem
}

.wp-rule h3 {
    font-size: .3rem;
    line-height: .3rem;
    font-weight: 700;
    color: #fedb8c;
    text-align: center;
    margin-top: .65rem
}

.wp-rule h3:after,
.wp-rule h3:before {
    content: "";
    width: 2.35rem;
    height: .21rem;
    background: url(../img/spr-bg-hb.png) no-repeat;
    background-position: 0 -.36rem;
    background-size: 6.2rem auto;
    display: inline-block
}

.wp-rule h3:before {
    margin-right: .08rem
}

.wp-rule h3:after {
    margin-left: .08rem
}

.wp-rule ol {
    padding-top: .2rem;
    margin-left: .59rem;
    width: 5.6rem
}

.wp-rule ol li {
    list-style-type: decimal;
    font-size: .26rem;
    color: #ffeaeb;
    line-height: .46rem
}

.wp-rule ol li a {
    color: #fed780;
    text-decoration: none
}

.wp-rule ol li a:active {
    text-decoration: underline
}

.wp-footer {
    height: .94rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #ff4559;
    color: #ff4559;
    font-size: .24rem
}

.timenav {
    position: absolute;
    top: 0;
    left: .68rem;
    text-align: center;
    z-index: 3
}

.timenav .time-list {
    font-size: 0
}

.timenav .time-list .hb,
.timenav .time-list .time {
    background-image: url(../img/spr-timenav.png);
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    background-position: -1.36rem 0;
    background-size: 2.72rem auto;
    width: 1.36rem;
    height: 1.69rem;
    margin-left: -.1rem;
    font-size: .23rem;
    color: #fff;
    line-height: .26rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: .58rem;
    text-decoration: none
}

.timenav .time-list .time p {
    font-size: .18rem
}

.timenav .time-list .hb .date,
.timenav .time-list .time .date {
    display: block
}

.timenav .hb.on,
.timenav .time-list .hb:active,
.timenav .time-list .time.on,
.timenav .time-list .time:active {
    background-image: url(../img/spr-timenav.png);
    background-position: 0 0;
    background-size: 2.72rem auto;
    background-repeat: no-repeat;
    text-decoration: none;
    font-weight: 700;
    color: #f6104c
}

.timenav .hb {
    display: inline-block;
    margin: -12px auto 0;
    text-align: center;
    position: relative
}

.timenav .hb.have .num {
    display: block
}

.timenav .hb .num {
    width: .42rem;
    height: .42rem;
    border-radius: 50%;
    text-align: center;
    line-height: .42rem;
    background: #f0ea4a;
    position: absolute;
    top: .31rem;
    left: .93rem;
    font-size: .21rem;
    font-weight: 700;
    color: #f3171d;
    display: none
}

.wp-hb .wp-main {
    -webkit-animation: l 4s .2s both;
    animation: l 4s .2s both
}

.timenav {
    -webkit-animation: e 1s .3s both;
    animation: e 1s .3s both
}

.time-list .time1 {
    -webkit-animation: a 4s linear both;
    animation: a 4s linear both
}

.time-list .time1,
.time-list .time2 {
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top
}

.time-list .time2 {
    -webkit-animation: b 4s linear both;
    animation: b 4s linear both
}

.time-list .time3 {
    -webkit-animation: c 4s linear both;
    animation: c 4s linear both
}

.time-list .hb,
.time-list .time3 {
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top
}

.time-list .hb {
    -webkit-animation: d 4s linear both;
    animation: d 4s linear both;
}

@-webkit-keyframes a {
    0% {
        -webkit-transform: none;
        transform: none
    }
    25% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg)
    }
    50% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg)
    }
    75% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg)
    }
    85% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg)
    }
}

@keyframes a {
    0% {
        -webkit-transform: none;
        transform: none
    }
    25% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg)
    }
    50% {
        -webkit-transform: rotate(4deg);
        transform: rotate(2deg)
    }
    75% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg)
    }
    85% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg)
    }
}

@-webkit-keyframes b {
    0% {
        -webkit-transform: none;
        transform: none
    }
    25% {
        -webkit-transform: rotate(-3deg) translate3d(5px, 0, 0);
        transform: rotate(-3deg) translate3d(5px, 0, 0)
    }
    50% {
        -webkit-transform: rotate(2deg) translate3d(-5px, 0, 0);
        transform: rotate(2deg) translate3d(-5px, 0, 0)
    }
    75% {
        -webkit-transform: rotate(-2deg) ;
        transform: rotate(-2deg) ;
    }
    85% {
        -webkit-transform: rotate(1deg) ;
        transform: rotate(1deg);
    }
}

@keyframes b {
    0% {
        -webkit-transform: none;
        transform: none
    }
    25% {
        -webkit-transform: rotate(-3deg) translate3d(5px, 0, 0);
        transform: rotate(-3deg) translate3d(5px, 0, 0)
    }
    50% {
        -webkit-transform: rotate(2deg) translate3d(-5px, 0, 0);
        transform: rotate(2deg) translate3d(-5px, 0, 0)
    }
    75% {
        -webkit-transform: rotate(-2deg) ;
        transform: rotate(-2deg) ;
    }
    85% {
        -webkit-transform: rotate(1deg) ;
        transform: rotate(1deg);
    }
}

@-webkit-keyframes c {
    0%,
    50% {
        -webkit-transform: none;
        transform: none
    }
    25% {
        -webkit-transform: rotate(-8deg) translate3d(11px, 0, 0);
        transform: rotate(-8deg) translate3d(11px, 0, 0)
    }
    75% {
        -webkit-transform: rotate(8deg) translateZ(0);
        transform: rotate(8deg) translateZ(0)
    }
    95% {
        -webkit-transform: rotate(-1deg) translateZ(0);
        transform: rotate(-1deg) translateZ(0)
    }
}

@keyframes c {
    0%,
    50% {
        -webkit-transform: none;
        transform: none
    }
    25% {
        -webkit-transform: rotate(-8deg) translate3d(11px, 0, 0);
        transform: rotate(-8deg) translate3d(11px, 0, 0)
    }
    75% {
        -webkit-transform: rotate(8deg) translateZ(0);
        transform: rotate(8deg) translateZ(0)
    }
    95% {
        -webkit-transform: rotate(-1deg) translateZ(0);
        transform: rotate(-1deg) translateZ(0)
    }
}

@-webkit-keyframes d {
    0% {
        -webkit-transform: none;
        transform: none
    }
    25% {
        -webkit-transform: rotate(-10deg) translate3d(20px, 0, 0);
        transform: rotate(-10deg) translate3d(20px, 0, 0)
    }
    50% {
        -webkit-transform: none;
        transform: none
    }
    65% {
        -webkit-transform: rotate(8deg) translate3d(-.1rem, 0, 0);
        transform: rotate(8deg) translate3d(-.1rem, 0, 0)
    }
    85% {
        -webkit-transform: rotate(-2deg) ;
        transform: rotate(-2deg);
    }
}

@keyframes d {
    0% {
        -webkit-transform: none;
        transform: none
    }
    25% {
        -webkit-transform: rotate(-10deg) translate3d(20px, 0, 0);
        transform: rotate(-10deg) translate3d(20px, 0, 0)
    }
    50% {
        -webkit-transform: none;
        transform: none
    }
    65% {
        -webkit-transform: rotate(8deg) translate3d(-.1rem, 0, 0);
        transform: rotate(8deg) translate3d(-.1rem, 0, 0)
    }
    85% {
        -webkit-transform: rotate(-2deg) ;
        transform: rotate(-2deg);
    }
}

.time-list:hover .hb,
.time-list:hover .time {
    -webkit-animation: none;
    animation: none
}

.cont-balance .hb-list .on .icon-sticker {
    cursor: default;
    -webkit-animation: i .3s both;
    animation: i .3s both
}

.cont-balance .hb-list .on .hb-hd {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-animation: f .5s .3s both;
    animation: f .5s .3s both
}

.cont-balance .hb-list .on .hb-hd-open {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-animation: g .5s .6s both;
    animation: g .5s .6s both
}

.cont-balance .hb-list .on .hb-bg {
    -webkit-animation: h .1s .6s both;
    animation: h .1s .6s both
}

.cont-balance .hb-list .on .hb-paper {
    -webkit-animation: j 1s .2s both;
    animation: j 1s .2s both
}

.cont-balance .hb-list .on .icon-sticker02 {
    cursor: not-allowed;
    -webkit-animation: k .5s 1s both;
    animation: k .5s 1s both
}

.cont-more .more-item.active .hb-wp,
.cont-more .more-item.on .item-bd .hb-wp {
    background: none
}

.cont-more .more-item.on .hb-hd {
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-animation: f .2s .3s both;
    animation: f .2s .3s both
}

.cont-more .more-item.on .item-bd .hb-wp .hb-hd-open {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-animation: g .2s .4s both;
    animation: g .2s .4s both
}

.cont-more .more-item.on .hb-paper {
    -webkit-animation: j .6s .2s both;
    animation: j .6s .2s both
}

@-webkit-keyframes e {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes e {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes f {
    0% {
        opacity: 1;
        -webkit-transform: rotateX(0) scale(1);
        transform: rotateX(0) scale(1)
    }
    50% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg)
    }
}

@keyframes f {
    0% {
        opacity: 1;
        -webkit-transform: rotateX(0) scale(1);
        transform: rotateX(0) scale(1)
    }
    50% {
        opacity: 1
    }
    to {
        opacity: 0;
        -webkit-transform: rotateX(90deg);
        transform: rotateX(90deg)
    }
}

@-webkit-keyframes g {
    0% {
        opacity: 1;
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg)
    }
    to {
        opacity: 1;
        -webkit-transform: rotateX(0);
        transform: rotateX(0)
    }
}

@keyframes g {
    0% {
        opacity: 1;
        -webkit-transform: rotateX(-90deg);
        transform: rotateX(-90deg)
    }
    to {
        opacity: 1;
        -webkit-transform: rotateX(0);
        transform: rotateX(0)
    }
}

@-webkit-keyframes h {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes h {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@-webkit-keyframes i {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }
}

@keyframes i {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        opacity: 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%)
    }
}

@-webkit-keyframes j {
    0% {
        opacity: 0;
        -webkit-transform: translateY(28%);
        transform: translateY(28%)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes j {
    0% {
        opacity: 0;
        -webkit-transform: translateY(28%);
        transform: translateY(28%)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@-webkit-keyframes k {
    0% {
        opacity: 0;
        -webkit-transform: scale(2);
        transform: scale(2)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes k {
    0% {
        opacity: 0;
        -webkit-transform: scale(2);
        transform: scale(2)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes l {
    0% {
        height: .62rem;
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    10% {
        opacity: 1;
        height: .62rem;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        opacity: 1;
        height: 29rem
    }
}

@keyframes l {
    0% {
        height: .62rem;
        opacity: 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%)
    }
    10% {
        opacity: 1;
        height: .62rem;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    to {
        opacity: 1;
        height: 29rem
    }
}

.hb-list-tab2 .hb-wp .hb-hd{ color:#fed456; }
.cont-balance .hb-list ul li.on .icon{ display: none; }
.cont-balance .hb-list-tab2 ul li .icon-sticker02,.cont-balance .hb-list-tab2 ul li .icon-sticker{ display: none; } 
.cont-balance .hb-list-tab2 ul li.active .icon-sticker02{ display: block; }
.cont-balance .hb-list-tab2 ul li.active .icon-sticker{ display: none; }
.cont-balance .hb-list-tab2 ul li.active .icon{ display: none; }
.hb-list-tab2 ul li .hb-wp p{ color: #fed456; font-size: .19rem; position: absolute; width: 100%; top: 1.35rem; line-height: .46rem; }
.cont-balance .hb-list-tab2 ul li.on.again .icon-sticker,.cont-balance .hb-list-tab2 ul li.active.again .icon-sticker{ cursor: pointer; animation: none; display: block; }
.cont-balance .hb-list-tab2 ul li.on.again .icon-sticker02,.cont-balance .hb-list-tab2 ul li.active.again .icon-sticker02{ cursor: pointer; animation: none; display: none; }
.cont-balance .hb-list-tab2 ul li.active.again .hb-wp .btn{ display: none; }
.cont-balance .hb-list-tab2 ul li.active.again .hb-wp p{ display: block; }
.hb-dis .tip-end{ display: none; }
.hb-list-tab.end .hb-dis .tip-end{ display: block; margin: .94rem auto 0; line-height: .46rem; padding-top: 0; }
.hb-list-tab.end .sec .hb-dis .tip-end{ display: none; }
.hb-list-tab.end .hb-dis .btn{ display: none; }
.hb-list-tab.end .sec .hb-dis .btn{ display: block; }
.hb-list-tab.end .hb-dis p.tip{ display: none; }
.cont-more .more-item .item-bd .hb-wp .tip-version{ color:#fed456; font-size: .19rem; padding-top: 1.35rem; position: relative; }
.cont-more .more-item.active .item-bd .hb-wp .tip-version,.cont-more .more-item.on .item-bd .hb-wp .tip-version{ display: none; }
.cont-balance .hb-list ul{ height: 4.6rem !important; overflow: hidden;} 
.cont-balance .hb-list-tab1 .s1-tips{ font-size: .22rem; color: #9d5c24; }
.cont-balance .hb-list-tab1 .s1-tips em { color: #e62035;}

.wp-hb .main-cont .cont-hd.cont-qsq-hd h3 span{ width: 1.77rem; }
.wp-hb .main-cont .cont-hd.cont-qsq-hd h3:after, .wp-hb .main-cont .cont-hd.cont-qsq-hd h3:before{ width: 1.73rem; }
.wp-hb .main-cont .cont-hd.cont-qsq-hd h3:after{ background-position: -1.85rem -0.75rem; background-size: 6.2rem auto;  }
.wp-hb .main-cont .cont-hd.cont-qsq-hd h3:before{ background-position: 0 -0.75rem; background-size: 6.2rem auto; }
.jinrong-temp{ width: 5.27rem; height: 4.41rem; background: url(../images/bg-temp.png) no-repeat; background-size: 5.27rem auto; margin: 0 auto; }
.jinrong-bot{ display: flex; position: relative; width: 5.23rem; height: 3.21rem; padding-top: .39rem; background: rgba(250,214,127,.6); margin: .2rem auto 0; border-radius: .1rem; }
.jinrong-bot:after{ content: ''; position: absolute; top: -.1rem; left: 50%; margin-left: -.1rem; border-left: .1rem solid transparent; border-right: .1rem solid transparent; border-bottom: .1rem solid #f6ce77; }
.hb-jinrong{ margin-left: .15rem; width: 2.01rem; height: 2.81rem; background: url(../img/bg-hb.png) no-repeat; background-size: 2.01rem auto; text-align: center; }
.price-jr .tit{ color: #9d5c24; font-size: 0.21rem; padding-top: 0.67rem;}
.price-jr .price-num{ color: #e62035; line-height: 0.4rem; font-size: 0.26rem; font-weight: bold; }
.jr-income .tit{ display: none; }
.jr-income .price-num{ font-size: 0.3rem;color: #fee858;font-weight: bold;margin-top: 0.7rem; }
.jinrong-time{ margin-left: 0.1rem; width: 2.78rem; }
.jinrong-time .tit{ box-sizing: border-box; height: 0.48rem; line-height: .48rem; text-align: center; border:1px solid #daad63; border-width: 1px 0 1px 0; color: #9d5c24; font-size: 0.24rem;  }
.jr-time span{ display: inline-block; width: 0.37rem; height: 0.41rem; line-height: 0.41rem; border-radius: .05rem; text-align: center; box-sizing: border; border: 1px solid #d7aa60; color: #f82a47; margin: 0 0.03rem; }
.jr-time{ font-size: 0.22rem; width: 2.78rem;  color: #d7953f; margin: .21rem auto 0; }
.jinrong-time .tip{ margin: 0.2rem 0 0.3rem; color: #c97e1d; font-size: 0.21rem; }
.btn-sqs{ font-weight: bold; color: #fff; border-radius: .325rem; font-size: 0.3rem; display: inline-block; width: 2.2rem; height: 0.65rem; line-height: 0.65rem;  background: #febe29; background: linear-gradient(to bottom,#febe29,#fd7402); }
.btn-sqs:active{ text-decoration: none; background: #ffcb3e; background: -webkit-gradient(linear, left top, left bottom, from(#ffcb3e), to(#fb830f)); background: -webkit-linear-gradient(top, #ffcb3e, #fb830f); background: -o-linear-gradient(top, #ffcb3e, #fb830f); background: linear-gradient(180deg, #ffcb3e, #fb830f); }
.jinrong-time .btn-tip{ font-size: 0.2rem; margin-top: 0.14rem; color: #c97e1d; }
.jr-income .link_income{ padding-top: 0.18rem; color: #980717; font-size: .21rem; display: inline-block; }
.jr-income a.link_income:active{ text-decoration: underline; }
.hb-jinrong-act .phase2 .pro-bar .bar-active{ float: right; }


.box-jinrong .hb-jinrong-act {
    margin: 0 auto .2rem;
    width: 5.27rem;
}

.hb-jinrong-act .pro-txt ul {
    white-space: nowrap;
    font-size: 0;
    display: flex;
    justify-content: space-between;
}

.hb-jinrong-act .pro-txt ul li {
    display: inline-block;
    font-size: 0.21rem;
    color: #9d5c24
}

.hb-jinrong-act .pro-txt ul li.cur {
    color: #ff3248
}

.hb-jinrong-act .pro-txt ul li.date02.cur,
.hb-jinrong-act .pro-txt ul li.date04.cur {
    font-weight: 700
}



.hb-jinrong-act .pro-bar {
    width: 100%;
    height: 3px;
    background: #efbf6c;
    border-radius: .03rem;
    margin: 0.04rem 0 0.31rem;
}

.hb-jinrong-act .pro-bar .bar-active {
    display: block;
    height: 100%;
    border-radius: .03rem;
    background: #fb2e44
}
.hb-jinrong-act .act-cont{ display: flex; justify-content: space-around; }
.hb-jinrong-act .act-cont .cont-item {
    height: 3.81rem;
    border-radius: .1rem;
    background: #f6ce77;
    width: 2.63rem;
}

.hb-jinrong-act .act-cont .cont-item .item-hd {
    width: 100%;
    height: 0.51rem;
    border-radius: .1rem .1rem 0 0;
    background: #ff7685;
    background: rgba(251, 46, 68, .45);
    text-align: center;
    line-height: .51rem;
    font-size: 0.22rem;
    color: #fff;
    text-align: center;
    position: relative
}

.hb-jinrong-act .act-cont .cont-item .item-hd em {
    color: #f82a47;
    font-weight: 700
}
.hb-jinrong-act .act-cont .cont-item .item-hd span{ color: #f82a47; }

.hb-jinrong-act .cont-item01 {
    margin-right: 1px;
}


.hb-jinrong-act .cont-item01 .item-hd:before {
    height: 46px;
    background-position: -305px -186px
}

.hb-jinrong-act .cont-item02 .item-hd:before {
    height: 52px;
    background-position: -264px -186px
}

.hb-jinrong-act .cont-item .item-bd {
    position: relative;
    width: 100%;
    height: 1.98rem;
}

.hb-jinrong-act .cont-item .coin {
    position: absolute;
    text-align: center
}

.hb-jinrong-act .cont-item .coin01 {
    width: 1.39rem;
    height: 1.39rem;
    background-position: 0 -9.3rem;
    background-size: 7.46rem auto;
    left: 0.26rem;
    top: 0.3rem;
    color: #fb6107;
}

.hb-jinrong-act .cont-item .coin01,
.hb-jinrong-act .cont-item .coin02 {
    background-image: url(../img/spr-hb.png);
    background-repeat: no-repeat
}

.hb-jinrong-act .cont-item .coin02 {
    width: 1.03rem;
    height: 0.88rem;
    background-position: 0 -10.93rem;
    background-size: 7.46rem auto;
    left: 1.35rem;
    top: 0.89rem;
    color: #a76510
}

.hb-jinrong-act .cont-item .coin03 {
    width: 0.59rem;
    height: 0.72rem;
    background-image: url(../img/spr-hb.png);
    background-position: -3.73rem -9.3rem;
    background-repeat: no-repeat;
    background-size: 7.46rem auto;
    left: 1.55rem;
    top: 0.39rem;
}

.hb-jinrong-act .cont-item .coin01 .num {
    padding-top: 0.46rem;
    font-size: 0.21rem;
    font-weight: 700
}

.hb-jinrong-act .cont-item .coin01 .num em {
    font-size: 0.3rem;
    vertical-align: -.01rem;
}

.hb-jinrong-act .cont-item .coin01 .tips {
    font-size: 0.21rem;
    margin-top: 0.08rem;
}

.hb-jinrong-act .cont-item .coin02 .num {
    padding-top: 0.33rem;
    font-size: 0.17rem;
    font-weight: 700
}

.hb-jinrong-act .cont-item .coin02 .num em {
    font-size: .18rem;
}

.hb-jinrong-act .cont-item .coin02 .tips {
    font-size: 0.13rem;
    color: #ffd57b;
    margin-top: 0.06rem;
}
.item-bd:after{ display: none; content: ''; background: url(../img/spr-hb.png) no-repeat; width: 1.02rem; height: 0.43rem; background-position: -2.56rem -10.93rem; background-size: 7.46rem auto; position: absolute; left: 1.33rem; top: 0.79rem; } 
.hb-jinrong-act .act-cont .cont-item.active .item-bd:after{ display: block; }


.btn02 {
    display: block;
    width: 2.2rem;
    height: 0.65rem;
    font-weight: bold;
    border-radius: .325rem;
    background: #ff3248;
    background: linear-gradient(to bottom,#ff3248,#e62035);
    line-height: 0.65rem;
    text-align: center;
    font-size: 0.3rem;
    color: #fff;
    margin: 0 auto;
}

.btn02:active {
    background:#fe495c;
    background: linear-gradient(to bottom,#fe495c,#f62339);
}

.btn02.disabled {
    background:#c19050;
    color: #fad67f;
    cursor: not-allowed;
}


.hb-jinrong-act .act-cont .cont-item.disabled,
.hb-jinrong-act .act-cont .cont-item.end {
    background: #e3b565
}

.hb-jinrong-act .act-cont .cont-item.disabled .item-hd,
.hb-jinrong-act .act-cont .cont-item.end .item-hd {
    background: #e5a858;
    background: rgba(193, 144, 80, .5);
    color: #9d5c24
}

.hb-jinrong-act .act-cont .cont-item.end .coin01 {
    background-image: url(../img/spr-hb.png);
    background-position: -1.47rem -9.3rem;
    background-size: 7.46rem auto;
    background-repeat: no-repeat;
    color: #cb780d
}

.hb-jinrong-act .act-cont .cont-item.active .coin02 {
    background-image: url(../img/spr-hb.png);
    background-position: -1.22rem -10.93rem;
    background-size: 7.46rem auto;
    background-repeat: no-repeat;
    color: #ec1b39
}

.hb-jinrong-act .act-cont .cont-item.active.end .coin02 {
    background-image: url(../img/spr-hb.png);
    background-position: 0 -10.93rem;
    background-size: 7.46rem auto;
    background-repeat: no-repeat;
    color: #a76510
}

.hb-jinrong-act .act-cont .cont-item.active .coin02 .tips {
    color: #f5cc75
}

.hb-jinrong-act .act-cont .cont-item.active.end .coin02 .tips {
    color: #ffd57b;
}

.hb-jinrong-act .cont-item.active:not(.disabled):not(.end) .coin03 {
    background-image: url(../img/spr-hb.png);
    background-position: -3.06rem -9.3rem;
    background-size: 7.46rem auto;
    background-repeat: no-repeat;
}

.hb-jinrong-act .act-cont .cont-item .sq-tip{ margin-top: .18rem; font-size: .2rem; color: #c97e1d; }