html {
    font-size: 15.625vw
}
.author:before {
    content: "author:caihuiting; desgin:jixueting; 2018-1-19";
    display: none
}

.hide-txt {
    text-indent: -9999em;
    font-size: 0;
    line-height: 0
}

.clearfix {
    height: auto!important
}

em {
    font-style: normal
}

.wp {
    width: 100%;
    color: #fff;
    z-index: 10
}

.wp,
.wp .wp-main {
    position: relative
}

.wp .wp-main {
    width: 6.4rem;
    margin: 0 auto;
}

html body {
    line-height: 1;
    background: #ad0416;
}

.color-in-yel {
    color: #fed866;
}

.wrap {
    position: relative;
    background: url(../img/dark.jpg) #ad0416 top;
    background-size: 6.4rem auto;
    background-repeat: no-repeat;
    overflow: hidden;
}

.wp-banner {
    text-align: center;
    height: 6.87rem
}

.wp-banner .banner-time {
    font-size: .3rem;
    line-height: .3rem;
    letter-spacing: .02rem;
    color: #fff;
    font-weight: 700;
    padding-top: 1.92rem
}

.wp-banner h1 {
    background-image: url(../img/spr.png);
    background-position: -6.07rem 0;
    background-size: 10.86rem auto;
    width: 4.79rem;
    height: 1.02rem;
    margin: .26rem auto .22rem
}

.wp-banner h2 {
    font-size: .36rem;
    line-height: .36rem;
    color: #fff
}

.wp-banner h2 em {
    font-size: .4rem;
    vertical-align: top
}

.wp-banner .btn-pay {
    display: block;
    width: 3.25rem;
    height: .95rem;
    text-align: center;
    line-height: .95rem;
    border-radius: .475rem;
    background: #febe29;
    background: -webkit-gradient(linear, left top, left bottom, from(#febe29), to(#ff7200));
    background: -webkit-linear-gradient(top, #febe29, #ff7200);
    background: -o-linear-gradient(top, #febe29, #ff7200);
    background: linear-gradient(180deg, #febe29, #ff7200);
    font-size: .32rem;
    font-weight: 700;
    text-decoration: none;
    color: #fff;
    margin: .66rem auto 0
}

.wp-banner .btn-pay:active {
    background: #f6af0b;
    background: -webkit-gradient(linear, left top, left bottom, from(#f6af0b), to(#ee6a00));
    background: -webkit-linear-gradient(top, #f6af0b, #ee6a00);
    background: -o-linear-gradient(top, #f6af0b, #ee6a00);
    background: linear-gradient(180deg, #f6af0b, #ee6a00)
}

.wp-banner .banner-msg {
    font-size: .23rem;
    line-height: .62rem
}

.wp-banner .banner-msg em {
    font-size: .26rem;
    color: #fff;
    vertical-align: baseline
}

.wp-cont .main-cont {
    width: 5.83rem;
    margin: 0 auto;
    background: #e62035;
    position: relative
}

.wp-cont .main-cont:before {
    top: -14px;
    background-position: -594px 0
}

.wp-cont .main-cont:after,
.wp-cont .main-cont:before {
    content: "";
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-image: url(../img/spr.png);
    background-position: 0 -5.95rem;
    background-size: 10.86rem auto;
    width: 6.15rem;
    height: .31rem
}

.wp-cont .main-cont:before {
    top: -.31rem
}

.wp-cont .main-cont:after {
    bottom: -.31rem;
    background-position: 0 -5.59rem
}

.wp-cont .light-line {
    position: absolute;
    left: 50%;
    top: -.31rem;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 1015px;
    height: 8px;
    font-size: 0;
    white-space: nowrap;
    background-position: 0 -6.31rem;
    background-size: 10.86rem auto;
    width: 6.24rem;
    height: .22rem
}

.wp-cont .light-line,
.wp-cont .light-line .light01 {
    background-image: url(../img/spr.png);
    background-repeat: no-repeat
}

.wp-cont .light-line .light01 {
    display: inline-block;
    vertical-align: middle;
    background-position: -8.97rem -1.07rem;
    background-size: 10.86rem auto;
    width: .22rem;
    height: .22rem;
    margin-right: .24rem
}

.wp-cont .light-line .light01.light01-23 {
    margin-right: 0
}

.wp-cont .cont-tit {
    text-align: center
}

.wp-cont .cont-tit h3 {
    font-size: .34rem;
    line-height: .34rem;
    font-weight: 700;
    color: #fedb8c;
    padding: .4rem 0 .2rem
}

.wp-cont .cont-tit p {
    font-size: .24rem;
    line-height: .24rem;
    color: #ffe7b0
}

.lottery-map {
    margin: 1.25rem 0 0 .5rem;
    position: relative
}

.lottery-map .mapline {
    width: 4.9rem;
    height: 6.73rem;
    background-image: url(../img/spr-map.png);
    background-position: 0 0;
    background-size: 11.19rem auto;
    background-repeat: no-repeat;
    position: relative
}

.lottery-map .mapline .line.active {
    z-index: 1
}

.mapline .mapline01 {
    position: absolute;
    top: .49rem;
    left: .15rem;
    width: 2.07rem;
    height: 1.83rem
}

.mapline .mapline01.active {
    background-position: -4.95rem 0;
    background-size: 11.19rem auto
}

.mapline .mapline01.active,
.mapline .mapline01.on {
    background-image: url(../img/spr-map.png);
    background-repeat: no-repeat
}

.mapline .mapline01.on {
    background-position: -4.95rem -1.88rem;
    background-size: 11.19rem auto
}

.mapline .mapline02 {
    position: absolute;
    top: .23rem;
    left: 2.06rem;
    width: .42rem;
    height: 1.93rem
}

.mapline .mapline02.active {
    background-position: -1.04rem -8.11rem;
    background-size: 11.19rem auto
}

.mapline .mapline02.active,
.mapline .mapline02.on {
    background-image: url(../img/spr-map.png);
    background-repeat: no-repeat
}

.mapline .mapline02.on {
    background-position: -1.51rem -8.11rem;
    background-size: 11.19rem auto
}

.mapline .mapline03 {
    position: absolute;
    top: 1.91rem;
    left: 2.13rem;
    width: 1.64rem;
    height: .67rem
}

.mapline .mapline03.active {
    background-position: -8.5rem -6.66rem;
    background-size: 11.19rem auto
}

.mapline .mapline03.active,
.mapline .mapline03.on {
    background-image: url(../img/spr-map.png);
    background-repeat: no-repeat
}

.mapline .mapline03.on {
    background-position: -8.5rem -7.38rem;
    background-size: 11.19rem auto
}

.mapline .mapline04 {
    position: absolute;
    top: 2.15rem;
    left: 1.85rem;
    width: .52rem;
    height: 2.09rem
}

.mapline .mapline04.active {
    background-position: -6.38rem -3.76rem;
    background-size: 11.19rem auto
}

.mapline .mapline04.active,
.mapline .mapline04.on {
    background-image: url(../img/spr-map.png);
    background-repeat: no-repeat
}

.mapline .mapline04.on {
    background-position: -.47rem -8.11rem;
    background-size: 11.19rem auto
}

.mapline .mapline05 {
    position: absolute;
    top: 0;
    left: 0;
    width: 2.44rem;
    height: 1.04rem
}

.mapline .mapline05.active {
    background-position: -8.5rem -1.09rem;
    background-size: 11.19rem auto
}

.mapline .mapline05.active,
.mapline .mapline05.on {
    background-image: url(../img/spr-map.png);
    background-repeat: no-repeat
}

.mapline .mapline05.on {
    background-position: -8.5rem 0;
    background-size: 11.19rem auto
}

.mapline .mapline06 {
    position: absolute;
    top: 0;
    left: 2.21rem;
    width: 2.69rem;
    height: 1.04rem
}

.mapline .mapline06.active {
    background-position: -4.82rem -6.78rem;
    background-size: 11.19rem auto
}

.mapline .mapline06.active,
.mapline .mapline06.on {
    background-image: url(../img/spr-map.png);
    background-repeat: no-repeat
}

.mapline .mapline06.on {
    background-position: -8.5rem -2.18rem;
    background-size: 11.19rem auto
}

.mapline .mapline07 {
    position: absolute;
    top: 1.01rem;
    left: 4.48rem;
    width: .42rem;
    height: 3.01rem
}

.mapline .mapline07.active {
    background-position: 0 -8.11rem;
    background-size: 11.19rem auto
}

.mapline .mapline07.active,
.mapline .mapline07.on {
    background-image: url(../img/spr-map.png);
    background-repeat: no-repeat
}

.mapline .mapline07.on {
    background-position: -8.01rem -2.51rem;
    background-size: 11.19rem auto
}

.mapline .mapline08 {
    position: absolute;
    top: 2.16rem;
    left: 3.54rem;
    width: 1.21rem;
    height: 1.98rem
}

.mapline .mapline08.active {
    background-position: -9.76rem -3.27rem;
    background-size: 11.19rem auto
}

.mapline .mapline08.active,
.mapline .mapline08.on {
    background-image: url(../img/spr-map.png);
    background-repeat: no-repeat
}

.mapline .mapline08.on {
    background-position: -8.5rem -3.27rem;
    background-size: 11.19rem auto
}

.mapline .mapline09 {
    position: absolute;
    top: 3.9rem;
    left: 2.13rem;
    width: 2.53rem;
    height: .63rem
}

.mapline .mapline09.active {
    background-position: -8.5rem -5.98rem;
    background-size: 11.19rem auto
}

.mapline .mapline09.active,
.mapline .mapline09.on {
    background-image: url(../img/spr-map.png);
    background-repeat: no-repeat
}

.mapline .mapline09.on {
    background-position: -8.5rem -5.3rem;
    background-size: 11.19rem auto
}

.mapline .mapline10 {
    position: absolute;
    top: 3.24rem;
    left: 0;
    width: 2.36rem;
    height: 1.28rem
}

.mapline .mapline10.active {
    background-position: 0 -6.78rem;
    background-size: 11.19rem auto
}

.mapline .mapline10.active,
.mapline .mapline10.on {
    background-image: url(../img/spr-map.png);
    background-repeat: no-repeat
}

.mapline .mapline10.on {
    background-position: -2.41rem -6.78rem;
    background-size: 11.19rem auto
}

.mapline .mapline11 {
    position: absolute;
    top: .78rem;
    left: 0;
    width: .42rem;
    height: 3.03rem
}

.mapline .mapline11.active {
    background-position: -7.07rem -2.51rem;
    background-size: 11.19rem auto
}

.mapline .mapline11.active,
.mapline .mapline11.on {
    background-image: url(../img/spr-map.png);
    background-repeat: no-repeat
}

.mapline .mapline11.on {
    background-position: -7.54rem -2.51rem;
    background-size: 11.19rem auto
}

.mapline12 {
    position: absolute;
    top: 4.27rem;
    left: 3.51rem;
    width: 1.38rem;
    height: 2.46rem
}

.mapline12.active {
    background-position: -7.07rem 0;
    background-size: 11.19rem auto
}

.mapline12.active,
.mapline12.on {
    background-image: url(../img/spr-map.png);
    background-repeat: no-repeat
}

.mapline12.on {
    background-position: -4.95rem -3.76rem;
    background-size: 11.19rem auto
}

.mapnode {
    position: absolute;
    left: 0;
    top: 0
}

.mapnode .node-start {
    top: 1.39rem;
    left: 1.53rem
}

.mapnode .node-end,
.mapnode .node-start {
    position: absolute;
    width: 1.23rem;
    height: 1.23rem;
    text-align: center;
    line-height: 1.23rem;
    display: block;
    font-size: .28rem;
    font-weight: 700;
    color: #e71723;
    z-index: 2;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.mapnode .node-end:before,
.mapnode .node-start:before {
    content: "";
    background: #f8d886;
    background-clip: padding-box;
    width: .82rem;
    height: .82rem;
    border: .2rem solid hsla(43, 89%, 75%, .5);
    border-radius: 50%;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}

.mapnode .node-end {
    top: 3.45rem;
    left: 3.98rem
}

.mapnode .node01 {
    position: absolute;
    top: 3.8rem;
    left: 1.41rem
}

.mapnode .node02 {
    position: absolute;
    top: 1.8rem;
    left: 2.9rem;
}

.mapnode .node03 {
    position: absolute;
    top: -.18rem;
    left: 1.56rem
}

.mapnode .node04 {
    position: absolute;
    top: 3.1rem;
    left: -.46rem
}

.mapnode .node05 {
    position: absolute;
    top: .15rem;
    left: 3.94rem
}

.mapnode .node06 {
    position: absolute;
    top: 0;
    left: -.49rem
}

.dog {
    display: block;
    position: relative;
    width: 1.41rem;
    height: 1.43rem;
    z-index: 2
}

.mapnode .node-info {
    position: absolute;
    top: -.5rem;
    left: 50%;
    margin-left: -50%;
    height: .42rem;
    font-size: 0;
    background: #970006;
    background: rgba(151, 0, 6, .74);
    border-radius: .08rem;
    padding: 0 .07rem;
    white-space: nowrap;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1
}

.node01 .node-info,
.node03 .node-info,
.node06 .node-info {
    margin-left: -42%
}

.mapnode .node-info:after {
    content: "";
    position: absolute;
    bottom: -.05rem;
    left: 50%;
    margin-left: -.05rem;
    border-left: .05rem solid transparent;
    border-right: .05rem solid transparent;
    border-top: .06rem solid #970006;
    border-top: .06rem solid rgba(151, 0, 6, .74)
}

.mapnode .node-sv .node-info {
    background: #000;
    background: rgba(0, 0, 0, .74)
}

.mapnode .node-sv .node-info:after {
    border-top: .06rem solid #000;
    border-top: .06rem solid rgba(0, 0, 0, .74)
}

.mapnode .node-normal .node-info {
    width: 1rem;
    margin-left: -.5rem;
    text-align: center
}

.mapnode .node-info .money-msg {
    font-size: .2rem;
    color: #fff;
    font-weight: 400
}

.mapnode .node-info .ico-add {
    background-position: -5rem -1.5rem;
    background-size: 6.4rem auto;
    width: .1rem;
    height: .1rem;
    margin: 0 .05rem
}

.mapnode .node-info .ico-add,
.mapnode .node-info .ico-hb {
    display: inline-block;
    background-image: url(../img/spr-dog.png);
    background-repeat: no-repeat
}

.mapnode .node-info .ico-hb {
    width: .23rem;
    height: .24rem;
    background-position: -5.38rem -1.5rem;
    background-size: 6.4rem auto
}

.mapnode .node-info .ico-sv {
    display: inline-block;
    vertical-align: -1px;
    width: .12rem;
    height: .16rem;
    background-position: -5.18rem -1.5rem;
    margin-right: .04rem;
    background-size: 6.4rem auto
}

.dog01,
.mapnode .node-info .ico-sv {
    background-image: url(../img/spr-dog.png);
    background-repeat: no-repeat
}

.dog01 {
    background-position: 0 0
}

.dog01,
.dog02 {
    background-size: 6.4rem auto
}

.dog02 {
    background-position: -1.5rem 0
}

.dog02,
.dog03 {
    background-image: url(../img/spr-dog.png);
    background-repeat: no-repeat
}

.dog03 {
    top: -8px;
    background-position: -3rem 0
}

.dog03,
.dog04 {
    background-size: 6.4rem auto
}

.dog04 {
    background-position: -4.5rem 0
}

.dog04,
.dog05 {
    background-image: url(../img/spr-dog.png);
    background-repeat: no-repeat
}

.dog05 {
    background-position: 0 -1.46rem;
}

.dog05,
.dog06 {
    background-size: 6.4rem auto
}

.dog06 {
    background-position: -1.5rem -1.5rem
}

.dog06,
.node.active .dog:after {
    background-image: url(../img/spr-dog.png);
    background-repeat: no-repeat
}

.node.active .dog:after {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -.51rem;
    top: .6rem;
    background-position: -3rem -1.5rem;
    background-size: 6.4rem auto;
    width: 1.01rem;
    height: .67rem
}

.mapnode .node.active .node-info {
    background: #ff8820;
    background: rgba(255, 136, 32, .74)
}

.mapnode .node.active .node-info:after {
    border-top: .06rem solid #ff8820;
    border-top: .06rem solid rgba(255, 136, 32, .74)
}

.mapact {
    margin-top: -1.86rem;
    width: 4.9rem;
    position: relative;
    z-index: 2
}

.lottery-award .btn-get,
.mapact .btn-light {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 3.05rem;
    height: .75rem;
    border-radius: .375rem;
    font-size: .32rem;
    font-weight: 700;
    color: #fff;
    margin: 0 auto;
    background: #febe29;
    background: -webkit-gradient(linear, left top, left bottom, from(#febe29), to(#ff7200));
    background: -webkit-linear-gradient(top, #febe29, #ff7200);
    background: -o-linear-gradient(top, #febe29, #ff7200);
    background: linear-gradient(180deg, #febe29, #ff7200);
    text-decoration: none
}

.lottery-award .btn-get.disabled,
.lottery-award .btn-get.disabled:active {
    background: #e0a725;
    color: #f7cf71
}

.lottery-award .btn-get:active,
.mapact .btn-light:active {
    text-decoration: none;
    background: #f6af0b;
    background: -webkit-gradient(linear, left top, left bottom, from(#f6af0b), to(#ee6a00));
    background: -webkit-linear-gradient(top, #f6af0b, #ee6a00);
    background: -o-linear-gradient(top, #f6af0b, #ee6a00);
    background: linear-gradient(180deg, #f6af0b, #ee6a00)
}

.mapact p {
    text-align: center;
    line-height: .5rem;
    font-size: .23rem;
    color: #fedb8c
}

.mapact p em {
    color: #fff
}

.mapact p a {
    color: #fff600
}

.moneyfly {
    font-size: .14rem;
    color: #fff;
    font-weight: 700;
    text-align: center
}

.hbfly,
.moneyfly {
    position: absolute;
    z-index: 999;
    width: .6rem;
    height: .6rem;
    border-radius: 50%;
    background: #feb725;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-animation: a 2s both;
    animation: a 2s both
}

.hbfly i {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -.19rem 0 0 -.18rem;
    width: .36rem;
    height: .38rem;
    background-image: url(../img/spr-dog.png);
    background-position: -4.5rem -1.5rem;
    background-size: 6.4rem auto;
    background-repeat: no-repeat
}

.lottery-award {
    position: relative;
    z-index: 1;
    margin-top: .2rem;
    padding-bottom: .57rem
}

.lottery-award .card {
    width: 4.87rem;
    height: 5.01rem;
    background: url(../img/card.png);
    text-align: center;
    background-size: 4.87rem auto;
    margin: 0 auto
}

.lottery-award .card h3 {
    padding: .7rem 0 0;
    font-size: .36rem;
    color: #b46314;
    font-weight: 700;
    line-height: .46rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-shadow: 0 1px 1px #ffe397
}

.lottery-award .card h3 em {
    font-family: Arial;
    font-size: .46rem;
    font-weight: 400;
    color: #b43614
}

.lottery-award .card .info .txt1 {
    font-size: .3rem;
    color: #b46314;
    padding: .5rem 0 .17rem
}

.lottery-award .card .info .msg,
.lottery-award .card .info .msg em {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center
}

.lottery-award .card .info .msg em {
    font-size: .46rem;
    font-weight: 700;
    color: #ed1049;
    font-family: Arial;
    width: .62rem;
    height: .62rem;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: .02rem solid #b57230;
    border-radius: .05rem;
    margin: 0 .05rem
}

.lottery-award .card .info .txt2 {
    font-size: 16px;
    color: #b46314;
    padding: 63px 0 0
}

.lottery-award .card .info .txt2 a {
    color: #ed1049;
    text-decoration: none
}

.lottery-award .btn-get {
    margin: .63rem auto 0
}

.lottery-award .btn-get:active {
    text-decoration: none;
    background: #ffcb3e;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffcb3e), to(#fb830f));
    background: -webkit-linear-gradient(top, #ffcb3e, #fb830f);
    background: -o-linear-gradient(top, #ffcb3e, #fb830f);
    background: linear-gradient(180deg, #ffcb3e, #fb830f)
}

.lottery-award .slogan {
    line-height: .54rem;
    font-size: .23rem;
    color: #b37231;
    text-align: center
}

.lottery-award .slogan a {
    color: #ed1049;
    text-decoration: none
}

.lottery-award .slogan a:active {
    text-decoration: underline
}

.lottery-award .slogan a em {
    font-size: .26rem;
    font-family: Arial
}

.rank-list {
    width: 6.02rem;
    height: 2.03rem;
    background-image: url(../img/spr.png);
    background-position: 0 0;
    background-size: 10.86rem auto;
    background-repeat: no-repeat;
    margin: .6rem auto 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: .4rem
}

.rank-list .rank-cont {
    height: 1.2rem;
    width: 5.14rem;
    overflow: hidden;
    position: relative;
    margin: 0 auto
}

.rank-cont ul {
    position: absolute;
    left: 0;
    top: 0
}

.rank-cont ul li {
    font-size: .21rem;
    color: #fed77f;
    line-height: .41rem
}

.rank-cont ul li span {
    color: #fff
}

.rank-cont ul li .name {
    display: inline-block;
    vertical-align: top;
    margin-left: .14rem;
    max-width: .84rem;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap
}

.wp-rule {
    padding-bottom: .48rem
}

.wp-rule h3 {
    font-size: .3rem;
    line-height: .3rem;
    font-weight: 700;
    color: #fedb8c;
    text-align: center;
    margin-top: .65rem
}

.wp-rule h3:after,
.wp-rule h3:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 2.34rem;
    height: .21rem;
    background-image: url(../img/spr.png);
    background-position: -7.54rem -2.88rem;
    background-size: 10.86rem auto
}

.wp-rule h3:before {
    margin-right: .08rem
}

.wp-rule h3:after {
    margin-left: .08rem
}

.wp-rule ol {
    padding-top: .2rem;
    margin-left: .59rem;
    width: 5.6rem
}

.wp-rule ol li {
    list-style-type: decimal;
    font-size: .26rem;
    color: #ffeaeb;
    line-height: .46rem
}

.wp-rule ol li a {
    color: #fed780;
    text-decoration: none
}

.wp-rule ol li a:active {
    text-decoration: underline
}

.wp-footer {
    height: .94rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-top: 1px solid #ff4559;
    color: #ff4559;
    font-size: .24rem
}

.timenav {
    position: absolute;
    top: 0;
    left: .68rem;
    text-align: center;
    z-index: 10
}

.timenav .time-list {
    font-size: 0
}

.timenav .time-list .hb,
.timenav .time-list .time {
    background-image: url(../img/spr-timenav.png);
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    background-position: -1.36rem 0;
    background-size: 2.72rem auto;
    width: 1.36rem;
    height: 1.69rem;
    margin-left: -.1rem;
    font-size: .23rem;
    color: #fff;
    line-height: .26rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: .58rem;
    text-decoration: none
}

.timenav .time-list .time p {
    font-size: .18rem
}

.timenav .time-list .hb .date,
.timenav .time-list .time .date {
    display: block
}

.timenav .hb.on,
.timenav .time-list .hb:active,
.timenav .time-list .time.on,
.timenav .time-list .time:active {
    background-image: url(../img/spr-timenav.png);
    background-position: 0 0;
    background-size: 2.72rem auto;
    background-repeat: no-repeat;
    text-decoration: none;
    font-weight: 700;
    color: #f6104c
}

.timenav .hb {
    display: inline-block;
    margin: -12px auto 0;
    text-align: center;
    position: relative
}

.timenav .hb.have .num {
    display: block
}

.timenav .hb .num {
    width: .42rem;
    height: .42rem;
    border-radius: 50%;
    text-align: center;
    line-height: .42rem;
    background: #f0ea4a;
    position: absolute;
    top: .31rem;
    left: .93rem;
    font-size: .21rem;
    font-weight: 700;
    color: #f3171d;
    display: none
}

.bg-wp {
    width: 100%;
    height: 8.05rem;
    left: 0;
    background: url(../img/light.jpg) top no-repeat;
    background-size: 6.4rem auto;
    right: 0;
    top: 0
}

.bg-wp,
.bg-wp .house {
    position: absolute;
    top: 0
}

.bg-wp .house {
    top: 0;
    left: 0;
    background: url(../img/light.png) top no-repeat; 
    width: 100%;
    height: 8.05rem;
    background-size: 6.4rem auto
}

.bg-wp .house .rali {
    background-position: -7.54rem -1.07rem;
    background-size: 10.86rem auto;
    width: 1.38rem;
    height: 1.79rem;
    left: 0;
    top: 2.34rem;
    position: absolute;
    background-image: url(../img/spr.png);
    background-repeat: no-repeat
}

.bg-wp .house .man {
    background-position: -7.7rem -3.1rem;
    background-size: 10.86rem auto;
    width: .86rem;
    height: 1.77rem;
    left: .17rem;
    top: 1.55rem
}

.bg-wp .house .man,
.bg-wp .house .women {
    position: absolute;
    background-image: url(../img/spr.png);
    background-repeat: no-repeat
}

.bg-wp .house .women {
    background-position: -6.07rem -1.07rem;
    background-size: 10.86rem auto;
    width: 1.42rem;
    height: 3.23rem;
    left: .2rem;
    top: 4.61rem
}

.bg-wp .house .boy {
    background-position: 0 -2.08rem;
    background-size: 10.86rem 6.53rem;
    width: 1.61rem;
    height: 3.46rem;
    left: 4.52rem;
    top: 4.23rem;
    position: absolute;
    background-image: url(../img/spr.png);
    background-repeat: no-repeat
}

#canvas {
    position: absolute;
    width: 6.4rem;
    height: 5.65rem;
    left: 0;
    top: 0
}

.bg-wp .banner-fw {
    position: absolute;
    z-index: -1;
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center
}

.banner-fw01 {
    background-position: 0 0;
    background-size: 6.72rem auto;
    width: 1.83rem;
    height: 2.78rem;
    left: 0;
    top: .25rem
}

.banner-fw01,
.banner-fw02 {
    background-image: url(../img/spr-firework.png);
    background-repeat: no-repeat
}

.banner-fw02 {
    background-position: -3.88rem 0;
    width: 2.05rem;
    height: 1.91rem;
    left: 1.3rem;
    top: -1.2rem
}

.banner-fw02,
.banner-fw03 {
    background-size: 6.72rem auto
}

.banner-fw03 {
    background-position: -5.98rem 0;
    width: .74rem;
    height: .99rem;
    left: 1.94rem;
    top: 1.51rem
}

.banner-fw03,
.banner-fw04 {
    background-image: url(../img/spr-firework.png);
    background-repeat: no-repeat
}

.banner-fw04 {
    background-position: -2.94rem -2.83rem;
    width: 1.19rem;
    height: 1.33rem;
    left: 1.96rem;
    top: 2.41rem
}

.banner-fw04,
.banner-fw05 {
    background-size: 6.72rem auto
}

.banner-fw05 {
    background-position: -4.18rem -2.83rem;
    width: 1.08rem;
    height: 1.2rem;
    left: 3.05rem;
    top: .91rem
}

.banner-fw05,
.banner-fw06 {
    background-image: url(../img/spr-firework.png);
    background-repeat: no-repeat
}

.banner-fw06 {
    background-position: -5.98rem -1.04rem;
    width: .66rem;
    left: 3.13rem;
    top: 2.33rem
}

.banner-fw06,
.banner-fw07 {
    background-size: 6.72rem auto;
    height: .89rem
}

.banner-fw07 {
    background-position: 0 -5.13rem;
    width: .81rem;
    left: 3.17rem;
    top: 3.55rem
}

.banner-fw07,
.banner-fw08 {
    background-image: url(../img/spr-firework.png);
    background-repeat: no-repeat
}

.banner-fw08 {
    background-position: -1.88rem 0;
    background-size: 6.72rem auto;
    width: 1.95rem;
    height: 2.16rem;
    left: 3.78rem;
    top: 1.63rem
}

.banner-fw09 {
    background-position: 0 -2.83rem;
    height: 2.25rem;
    left: 5.02rem;
    top: .33rem
}

.banner-fw09,
.banner-fw10 {
    background-image: url(../img/spr-firework.png);
    background-size: 6.72rem auto;
    width: 1.42rem
}

.banner-fw10 {
    background-position: -1.47rem -2.83rem;
    height: 1.42rem;
    left: 4.3rem;
    top: 1.53rem
}

.bg-wp,
.bg-wp .house {
    -webkit-animation: a .8s .4s both;
    animation: a .8s .4s both
}

@-webkit-keyframes a {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes a {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.wp-banner .banner-time {
    -webkit-animation: b .2s 1s both;
    animation: b .2s 1s both
}

.wp-banner h1 {
    -webkit-animation: b .4s 1.2s both;
    animation: b .4s 1.2s both
}

.wp-banner h2 {
    -webkit-animation: b .6s 1.4s both;
    animation: b .6s 1.4s both
}

.wp-banner .btn-pay {
    -webkit-animation: b .8s 1.6s both;
    animation: b .8s 1.6s both
}

.wp-banner .banner-msg {
    -webkit-animation: b 1s 1.8s both;
    animation: b 1s 1.8s both
}

.timenav {
    -webkit-animation: b 1.4s 2.2s both;
    animation: b 1.4s 2.2s both
}

.wp-cont,
.wp-footer,
.wp-rank,
.wp-rule {
    -webkit-animation: b 1.2s 2s both;
    animation: b 1.2s 2s both
}

@-webkit-keyframes b {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

@keyframes b {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
}

.bg-wp .house .man {
    -webkit-animation: a 1.2s 2.6s both;
    animation: a 1.2s 2.6s both
}

.bg-wp .house .women {
    -webkit-animation: c 2s 3s both;
    animation: c 2s 3s both
}

.bg-wp .house .boy {
    -webkit-animation: d 1.6s 3s both;
    animation: d 1.6s 3s both
}

@-webkit-keyframes c {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@keyframes c {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%)
    }
    to {
        opacity: 1;
        -webkit-transform: translateX(0);
        transform: translateX(0)
    }
}

@-webkit-keyframes d {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%) rotate(10deg);
        transform: translateY(100%) rotate(10deg)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0)
    }
}

@keyframes d {
    0% {
        opacity: 0;
        -webkit-transform: translateY(100%) rotate(10deg);
        transform: translateY(100%) rotate(10deg)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0) rotate(0);
        transform: translateY(0) rotate(0)
    }
}

.time-list .time1 {
    -webkit-animation: e 4s 1s linear both;
    animation: e 4s 1s linear both 
}

.time-list .time1,
.time-list .time2 {
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top
}

.time-list .time2 {
    -webkit-animation: f 4s 1s linear both ;
    animation: f 4s 1s linear both 
}

.time-list .time3 {
    -webkit-animation: g 4s 1s linear both ;
    animation: g 4s 1s linear both 
}

.time-list .hb,
.time-list .time3 {
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top
}

.time-list .hb {
    -webkit-animation: h 4s 1s linear both ;
    animation: h 4s 1s linear both 
}

@-webkit-keyframes e {
    0% {
        -webkit-transform: none;
        transform: none
    }
    25% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg)
    }
    50% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg)
    }
    75% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg)
    }
    85% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg)
    }
}

@keyframes e {
    0% {
        -webkit-transform: none;
        transform: none
    }
    25% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg)
    }
    50% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg)
    }
    75% {
        -webkit-transform: rotate(-4deg);
        transform: rotate(-4deg)
    }
    85% {
        -webkit-transform: rotate(2deg);
        transform: rotate(2deg)
    }
}

@-webkit-keyframes f {
    0% {
        -webkit-transform: none;
        transform: none
    }
    25% {
        -webkit-transform: rotate(-3deg) translate3d(5px, 0, 0);
        transform: rotate(-3deg) translate3d(5px, 0, 0)
    }
    50% {
        -webkit-transform: rotate(2deg) translate3d(-5px, 0, 0);
        transform: rotate(2deg) translate3d(-5px, 0, 0)
    }
    75% {
        -webkit-transform: rotate(-2deg) ;
        transform: rotate(-2deg) ;
    }
    85% {
        -webkit-transform: rotate(1deg) ;
        transform: rotate(1deg);
    }
}

@keyframes f {
    0% {
        -webkit-transform: none;
        transform: none
    }
    25% {
        -webkit-transform: rotate(-3deg) translate3d(5px, 0, 0);
        transform: rotate(-3deg) translate3d(5px, 0, 0)
    }
    50% {
        -webkit-transform: rotate(2deg) translate3d(-5px, 0, 0);
        transform: rotate(2deg) translate3d(-5px, 0, 0)
    }
    75% {
        -webkit-transform: rotate(-2deg) ;
        transform: rotate(-2deg) ;
    }
    85% {
        -webkit-transform: rotate(1deg) ;
        transform: rotate(1deg);
    }
}

@-webkit-keyframes g {
    0%,
    50% {
        -webkit-transform: none;
        transform: none
    }
    25% {
        -webkit-transform: rotate(-8deg) translate3d(11px, 0, 0);
        transform: rotate(-8deg) translate3d(11px, 0, 0)
    }
    75% {
        -webkit-transform: rotate(8deg) translateZ(0);
        transform: rotate(8deg) translateZ(0)
    }
    95% {
        -webkit-transform: rotate(-1deg) translateZ(0);
        transform: rotate(-1deg) translateZ(0)
    }
}

@keyframes g {
    0%,
    50% {
        -webkit-transform: none;
        transform: none
    }
    25% {
        -webkit-transform: rotate(-8deg) translate3d(11px, 0, 0);
        transform: rotate(-8deg) translate3d(11px, 0, 0)
    }
    75% {
        -webkit-transform: rotate(8deg) translateZ(0);
        transform: rotate(8deg) translateZ(0)
    }
    95% {
        -webkit-transform: rotate(-1deg) translateZ(0);
        transform: rotate(-1deg) translateZ(0)
    }
}

@-webkit-keyframes h {
    0% {
        -webkit-transform: none;
        transform: none
    }
    25% {
        -webkit-transform: rotate(-10deg) translate3d(20px, 0, 0);
        transform: rotate(-10deg) translate3d(20px, 0, 0)
    }
    50% {
        -webkit-transform: none;
        transform: none
    }
    65% {
        -webkit-transform: rotate(8deg) translate3d(-.1rem, 0, 0);
        transform: rotate(8deg) translate3d(-.1rem, 0, 0)
    }
    85% {
        -webkit-transform: rotate(-2deg) ;
        transform: rotate(-2deg);
    }
}

@keyframes h {
    0% {
        -webkit-transform: none;
        transform: none
    }
    25% {
        -webkit-transform: rotate(-10deg) translate3d(20px, 0, 0);
        transform: rotate(-10deg) translate3d(20px, 0, 0)
    }
    50% {
        -webkit-transform: none;
        transform: none
    }
    65% {
        -webkit-transform: rotate(8deg) translate3d(-.1rem, 0, 0);
        transform: rotate(8deg) translate3d(-.1rem, 0, 0)
    }
    85% {
        -webkit-transform: rotate(-2deg) ;
        transform: rotate(-2deg);
    }
}

.time-list:hover .hb,
.time-list:hover .time {
    -webkit-animation: none;
    animation: none
}

.wp-cont .light-line .light01-1 {
    -webkit-animation: a .1s 2.2s both;
    animation: a .1s 2.2s both
}

.wp-cont .light-line .light01-2 {
    -webkit-animation: a .1s 2.22s both;
    animation: a .1s 2.22s both
}

.wp-cont .light-line .light01-3 {
    -webkit-animation: a .1s 2.24s both;
    animation: a .1s 2.24s both
}

.wp-cont .light-line .light01-4 {
    -webkit-animation: a .1s 2.26s both;
    animation: a .1s 2.26s both
}

.wp-cont .light-line .light01-5 {
    -webkit-animation: a .1s 2.28s both;
    animation: a .1s 2.28s both
}

.wp-cont .light-line .light01-6 {
    -webkit-animation: a .1s 2.3s both;
    animation: a .1s 2.3s both
}

.wp-cont .light-line .light01-7 {
    -webkit-animation: a .1s 2.32s both;
    animation: a .1s 2.32s both
}

.wp-cont .light-line .light01-8 {
    -webkit-animation: a .1s 2.34s both;
    animation: a .1s 2.34s both
}

.wp-cont .light-line .light01-9 {
    -webkit-animation: a .1s 2.36s both;
    animation: a .1s 2.36s both
}

.wp-cont .light-line .light01-10 {
    -webkit-animation: a .1s 2.38s both;
    animation: a .1s 2.38s both
}

.wp-cont .light-line .light01-11 {
    -webkit-animation: a .1s 2.4s both;
    animation: a .1s 2.4s both
}

.wp-cont .light-line .light01-12 {
    -webkit-animation: a .1s 2.42s both;
    animation: a .1s 2.42s both
}

.wp-cont .light-line .light01-13 {
    -webkit-animation: a .1s 2.44s both;
    animation: a .1s 2.44s both
}

.wp-cont .light-line .light01-14 {
    -webkit-animation: a .1s 2.46s both;
    animation: a .1s 2.46s both
}

.wp-cont .light-line .light01-15 {
    -webkit-animation: a .1s 2.48s both;
    animation: a .1s 2.48s both
}

.wp-cont .light-line .light01-16 {
    -webkit-animation: a .1s 2.5s both;
    animation: a .1s 2.5s both
}

.wp-cont .light-line .light01-17 {
    -webkit-animation: a .1s 2.52s both;
    animation: a .1s 2.52s both
}

.wp-cont .light-line .light01-18 {
    -webkit-animation: a .1s 2.54s both;
    animation: a .1s 2.54s both
}

.wp-cont .light-line .light01-19 {
    -webkit-animation: a .1s 2.56s both;
    animation: a .1s 2.56s both
}

.wp-cont .light-line .light01-20 {
    -webkit-animation: a .1s 2.58s both;
    animation: a .1s 2.58s both
}

.wp-cont .light-line .light01-21 {
    -webkit-animation: a .1s 2.6s both;
    animation: a .1s 2.6s both
}

.wp-cont .light-line .light01-22 {
    -webkit-animation: a .1s 2.62s both;
    animation: a .1s 2.62s both
}

.wp-cont .light-line .light01-23 {
    -webkit-animation: a .1s 2.64s both;
    animation: a .1s 2.64s both
}

.pop-act {
    -webkit-animation: b .4s both;
    animation: b .4s both
}

.fw01 {
    -webkit-animation: i .4s .4s both;
    animation: i .4s .4s both
}

.fw01,
.fw02 {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center
}

.fw02 {
    -webkit-animation: i .6s .8s both;
    animation: i .6s .8s both
}

.fw03 {
    -webkit-transform-origin: center;
    -ms-transform-origin: center;
    transform-origin: center;
    -webkit-animation: i .8s .6s both;
    animation: i .8s .6s both
}

@-webkit-keyframes i {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@keyframes i {
    0% {
        opacity: 0;
        -webkit-transform: scale(0);
        transform: scale(0)
    }
    to {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.node.active .dog {
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-animation: j 1s both;
    animation: j 1s both
}

.node.active .dog:after {
    -webkit-animation: b 1s both;
    animation: b 1s both
}

.mapnode .node.active .node-info {
    -webkit-transform-origin: bottom center;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    -webkit-animation: k 1s both;
    animation: k 1s both
}

@-webkit-keyframes j {
    0% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    80% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@keyframes j {
    0% {
        -webkit-transform: rotate(-10deg);
        transform: rotate(-10deg)
    }
    80% {
        -webkit-transform: rotate(10deg);
        transform: rotate(10deg)
    }
    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg)
    }
}

@-webkit-keyframes k {
    0%,
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
}

@keyframes k {
    0%,
    to {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
    50% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2)
    }
}

.banner-fw01 {
    -webkit-animation: l 2s 1.4s both;
    animation: l 2s 1.4s both
}

.banner-fw02 {
    -webkit-animation: l 2.2s 1.8s both;
    animation: l 2.2s 1.8s both
}

.banner-fw03 {
    -webkit-animation: l 2.4s 1.4s both;
    animation: l 2.4s 1.4s both
}

.banner-fw04 {
    -webkit-animation: l 2.2s 1.6s both;
    animation: l 2.2s 1.6s both
}

.banner-fw05 {
    -webkit-animation: l 2.4s 1.8s both;
    animation: l 2.4s 1.8s both
}

.banner-fw06 {
    -webkit-animation: l 2.2s 2s both;
    animation: l 2.2s 2s both
}

.banner-fw07 {
    -webkit-animation: l 2.4s 2.2s both;
    animation: l 2.4s 2.2s both
}

.banner-fw08 {
    -webkit-animation: l 2.8s 2.4s both;
    animation: l 2.8s 2.4s both
}

.banner-fw09 {
    -webkit-animation: l 2.8s 2.8s both
}

.banner-fw09,
.banner-fw10 {
    animation: l 2.8s 2.8s both
}

.banner-fw10 {
    -webkit-animation: l 2.8s 3.2s both
}

@-webkit-keyframes l {
    0% {
        opacity: 0;
        -webkit-transform: translateY(200%) scale(.1);
        transform: translateY(200%) scale(.1)
    }
    80% {
        -webkit-transform: translateY(20%) scale(.1);
        transform: translateY(20%) scale(.1)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1)
    }
}

@keyframes l {
    0% {
        opacity: 0;
        -webkit-transform: translateY(200%) scale(.1);
        transform: translateY(200%) scale(.1)
    }
    80% {
        -webkit-transform: translateY(20%) scale(.1);
        transform: translateY(20%) scale(.1)
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1)
    }
}